/* Misc: Mostly supporting Storybook */

:root {
    --ak-palette--Black-900: hsl(0, 0%, 8.2%);
    --ak-palette--Black--200: hsl(0, 0%, 94.1%);
}

:root {
    --ak-theme--BackgroundColor--primary: var(--ak-palette--Black-200);
    --ak-theme--TextColor--primary: var(--ak-palette--Black--900);
    --ak-theme--FontFamily--text: "RedHatText", helvetica, arial, sans-serif;
    --ak-theme--FontSize--md: 1rem;
    --ak-theme--FontWeight--normal: 400;
    --ak-theme--LineHeight--md: 1.5;
}

:where(.pf-v5-theme-dark),
:where(html[theme="dark"]),
:where(html[data-theme="dark"]) {
    --ak-theme--BackgroundColor--primary: var(--ak-palette--Black-900);
    --ak-theme--TextColor--primary: var(--ak-palette--Black--200);
}

:where(body) {
    font-family: var(--ak-theme--FontFamily--text);
    font-size: var(--ak-theme--FontSize--md);
    font-weight: var(--ak-theme--FontWeight--normal);
    line-height: var(--ak-theme--LineHeight--md);
    color: var(--ak-theme--TextColor--primary);
    background-color: var(--ak-theme--BackgroundColor--primary);
    height: 100%;
}
