:where(:root) {
    --pf-v5-global--palette--black-100: #fafafa;
    --pf-v5-global--palette--black-150: #f5f5f5;
    --pf-v5-global--palette--black-200: #f0f0f0;
    --pf-v5-global--palette--black-300: #d2d2d2;
    --pf-v5-global--palette--black-400: #b8bbbe;
    --pf-v5-global--palette--black-500: #8a8d90;
    --pf-v5-global--palette--black-600: #6a6e73;
    --pf-v5-global--palette--black-700: #4f5255;
    --pf-v5-global--palette--black-800: #3c3f42;
    --pf-v5-global--palette--black-850: #212427;
    --pf-v5-global--palette--black-900: #151515;
    --pf-v5-global--palette--black-1000: #030303;
    --pf-v5-global--palette--blue-50: #e7f1fa;
    --pf-v5-global--palette--blue-100: #bee1f4;
    --pf-v5-global--palette--blue-200: #73bcf7;
    --pf-v5-global--palette--blue-300: #2b9af3;
    --pf-v5-global--palette--blue-400: #06c;
    --pf-v5-global--palette--blue-500: #004080;
    --pf-v5-global--palette--blue-600: #002952;
    --pf-v5-global--palette--blue-700: #001223;
    --pf-v5-global--palette--cyan-50: #f2f9f9;
    --pf-v5-global--palette--cyan-100: #a2d9d9;
    --pf-v5-global--palette--cyan-200: #73c5c5;
    --pf-v5-global--palette--cyan-300: #009596;
    --pf-v5-global--palette--cyan-400: #005f60;
    --pf-v5-global--palette--cyan-500: #003737;
    --pf-v5-global--palette--cyan-600: #002323;
    --pf-v5-global--palette--cyan-700: #000f0f;
    --pf-v5-global--palette--gold-50: #fdf7e7;
    --pf-v5-global--palette--gold-100: #f9e0a2;
    --pf-v5-global--palette--gold-200: #f6d173;
    --pf-v5-global--palette--gold-300: #f4c145;
    --pf-v5-global--palette--gold-400: #f0ab00;
    --pf-v5-global--palette--gold-500: #c58c00;
    --pf-v5-global--palette--gold-600: #795600;
    --pf-v5-global--palette--gold-700: #3d2c00;
    --pf-v5-global--palette--green-50: #f3faf2;
    --pf-v5-global--palette--green-100: #bde5b8;
    --pf-v5-global--palette--green-200: #95d58e;
    --pf-v5-global--palette--green-300: #6ec664;
    --pf-v5-global--palette--green-400: #5ba352;
    --pf-v5-global--palette--green-500: #3e8635;
    --pf-v5-global--palette--green-600: #1e4f18;
    --pf-v5-global--palette--green-700: #0f280d;
    --pf-v5-global--palette--light-blue-100: #beedf9;
    --pf-v5-global--palette--light-blue-200: #7cdbf3;
    --pf-v5-global--palette--light-blue-300: #35caed;
    --pf-v5-global--palette--light-blue-400: #00b9e4;
    --pf-v5-global--palette--light-blue-500: #008bad;
    --pf-v5-global--palette--light-blue-600: #005c73;
    --pf-v5-global--palette--light-blue-700: #002d39;
    --pf-v5-global--palette--light-green-100: #e4f5bc;
    --pf-v5-global--palette--light-green-200: #c8eb79;
    --pf-v5-global--palette--light-green-300: #ace12e;
    --pf-v5-global--palette--light-green-400: #92d400;
    --pf-v5-global--palette--light-green-500: #6ca100;
    --pf-v5-global--palette--light-green-600: #486b00;
    --pf-v5-global--palette--light-green-700: #253600;
    --pf-v5-global--palette--orange-50: #fff6ec;
    --pf-v5-global--palette--orange-100: #f4b678;
    --pf-v5-global--palette--orange-200: #ef9234;
    --pf-v5-global--palette--orange-300: #ec7a08;
    --pf-v5-global--palette--orange-400: #c46100;
    --pf-v5-global--palette--orange-500: #8f4700;
    --pf-v5-global--palette--orange-600: #773d00;
    --pf-v5-global--palette--orange-700: #3b1f00;
    --pf-v5-global--palette--purple-50: #f2f0fc;
    --pf-v5-global--palette--purple-100: #cbc1ff;
    --pf-v5-global--palette--purple-200: #b2a3ff;
    --pf-v5-global--palette--purple-300: #a18fff;
    --pf-v5-global--palette--purple-400: #8476d1;
    --pf-v5-global--palette--purple-500: #6753ac;
    --pf-v5-global--palette--purple-600: #40199a;
    --pf-v5-global--palette--purple-700: #1f0066;
    --pf-v5-global--palette--red-50: #faeae8;
    --pf-v5-global--palette--red-100: #c9190b;
    --pf-v5-global--palette--red-200: #a30000;
    --pf-v5-global--palette--red-300: #7d1007;
    --pf-v5-global--palette--red-400: #470000;
    --pf-v5-global--palette--red-500: #2c0000;
    --pf-v5-global--palette--white: #fff;

    /* A couple of extras for authentik */
    --ak-palette--Black-900: hsl(0deg, 0%, 8.2%);
    --ak-palette--Black--200: hsl(0deg, 0%, 94.1%);
}
