/* Checkbox is a wholly custom component, so there's no WCCSS file. */

:host {
    --checkbox--FontSize: var(--pf-v5-c-checkbox--FontSize, 1rem);
    --checkbox__label--PaddingLeft: var(--pf-v5-c-checkbox__label--PaddingLeft, 1rem);
    --checkbox--ColumnGap: var(--checkbox__label--PaddingLeft);
    --checkbox--LineHeight: var(--pf-v5-c-checkbox--LineHeight, 1.5);

    --checkbox--Height: calc(var(--checkbox--FontSize) * var(--checkbox--LineHeight));
    --checkbox--Width: auto
        --checkbox__toggle--Color: var(--pf-v5-c-checkbox__toggle--Color, #151515);
    --checkbox__toggle--BorderRadius: var(--pf-v5-c-checkbox__toggle--BorderRadius, 3px);
    --checkbox__toggle--BorderColor: var(--checkbox__toggle--Color);
    --checkbox__toggle--BorderWidth: var(--pf-v5-c-checkbox__toggle--BorderWidth, 2px);
    --checkbox__toggle--Height: var(--checkbox--FontSize);
    --checkbox__toggle--Width: var(--checkbox__toggle--Height);
    --checkbox__toggle--BackgroundColor: inherit;
    --checkbox__toggle--Padding: 1px;

    --checkbox--disabled__toggle--Color: var(--pf-v5-c-checkbox--disabled__toggle--Color, #6a6e73);
    --checkbox--disabled__toggle--BorderColor: var(
        --pf-v5-c-checkbox--disabled__toggle--BorderColor,
        #d2d2d2
    );
    --checkbox--disabled__toggle--BackgroundColor: var(
        --pf-v5-c-checkbox--disabled__toggle--BackgroundColor,
        #f5f5f5
    );
    --checkbox--disabled__label--Color: var(--pf-v5-c-checkbox--disabled__label--Color, #6a6e73);

    --checkbox--focus__toggle--OutlineWidth: var(
        --pf-v5-c-checkbox--focus__toggle--OutlineWidth,
        2px
    );
    --checkbox--focus__toggle--OutlineOffset: var(
        --pf-v5-c-checkbox--focus__toggle--OutlineOffset,
        0.5rem
    );
    --checkbox--focus__toggle--OutlineColor: var(
        --pf-v5-c-checkbox--focus__toggle--OutlineColor,
        #06c
    );

    --checkbox__input--checked__label--Color: var(--pf-v5-c-checkbox__toggle--Color);
    --checkbox__input--not-checked__label--Color: var(
        --pf-v5-c-checkbox__input--not-checked__label--Color,
        #6a6e73
    );
    --checkbox__label--Color: var(--pf-v5-c-checkbox__label--Color, #151515);
    position: relative;
    display: inline;
}

[part="checkbox"] {
    position: relative;
    grid-template-columns: auto;
    grid-auto-columns: 1fr;
    column-gap: var(--checkbox--ColumnGap);
    height: var(--checkbox--Height);
    font-size: var(--checkbox--FontSize);
    line-height: var(--checkbox--LineHeight);
    vertical-align: middle;
    cursor: pointer;
    display: grid;
}

:host([reverse]) [part="label"] {
    grid-row: 1;
    grid-column: 1;
}

:host([reverse]) [part="toggle"] {
    grid-column: 2;
}

:host([checked]) [part="label"] {
    color: var(--checkbox__input--checked__label--Color);
}

[part="checkbox"]:focus-visible [part="toggle"] {
    outline: var(--checkbox--focus__toggle--OutlineWidth) solid
        var(--checkbox--focus__toggle--OutlineColor);
    outline-offset: var(--checkbox--focus__toggle--OutlineOffset);
}

[part="toggle"] {
    display: flex;
    display: inline-flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: var(--checkbox__toggle--Width);
    height: var(--checkbox__toggle--Height);
    border-style: solid;
    border-radius: var(--checkbox__toggle--BorderRadius);
    border-color: var(--checkbox__toggle--BorderColor);
    border-width: var(--checkbox__toggle--BorderWidth);
}

[part="toggle"] > svg {
    width: calc(var(--checkbox__toggle--Width) - 2 * var(--checkbox__toggle--Padding));
    height: calc(var(--checkbox__toggle--Height) - 2 * var(--checkbox__toggle--Padding));
    fill: var(--checkbox__toggle--Color);
}

[part="toggle"] > svg > path {
    fill: var(--checkbox__toggle--Color);
}

:host(:disabled),
:host([disabled]) {
    cursor: not-allowed;
}

:host(:disabled) [part="label"],
:host([disabled]) [part="label"] {
    color: var(--checkbox--disabled__label--Color);
    cursor: not-allowed;
}

:host(:disabled) [part="toggle"],
:host([disabled]) [part="toggle"] {
    --checkbox__toggle--BorderColor: var(--checkbox--disabled__toggle--BorderColor);
    cursor: not-allowed;
    background-color: var(--checkbox--disabled__toggle--BackgroundColor);
}

:host(:disabled) [part="toggle"],
:host([disabled]) [part="toggle"] {
    --checkbox__toggle--Color: var(--checkbox--disabled__toggle--Color);
}

[part="label"] {
    display: inline-block;
    grid-column: 2;
    color: var(--checkbox__label--Color);
    vertical-align: top;
}
