/**
 * Screensaver Component Styles
 * 
 * This stylesheet provides styling for the ak-screensaver component,
 * which creates a screensaver-like bouncing animation.
 */

:host {
    --screensaver--Background: var(--ak-v1-c-screensaver--Background, black);
    --screensaver--Height: var(--ak-v1-c-screensaver--Height, 4rem);
    --screensaver--Transition: var(--ak-v1-c-screensaver--Transition, 1s ease-in-out);
    --screensaver--Color: var(--ak-v1-c-screensaver--Color, #06c);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

[part="screen"] {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: var(--screensaver--Background);
}

[part="screensaver"] {
    position: absolute;
    height: var(--screensaver--Height);
    will-change: transform;
    user-select: none;
    cursor: default;
}

[part="screensaver"].repositioning {
    transition: none;
}

::slotted(svg) {
    height: 100%;
    width: 100%;
}

::slotted(img) {
    height: 100%;
    object-fit: contain;
}

::slotted(*) {
    color: var(--screensaver--Color);
}

:host([paused]) [part="screensaver"] {
    transition: none;
}

@media (prefers-reduced-motion: reduce) {
    [part="screensaver"].repositioning {
        transition: none;
    }
}
