@media (min-width: 576px) {
    :host([size="sm"]) {
        --avatar--Width: var(--avatar--m-sm--Width-on-sm, var(--avatar--m-sm--Width));
    }
}

@media (min-width: 768px) {
    :host([size="sm"]) {
        --avatar--Width: var(
            --avatar--m-sm--Width-on-md,
            var(--avatar--m-sm--Width-on-sm, var(--avatar--m-sm--Width))
        );
    }
}

@media (min-width: 992px) {
    :host([size="sm"]) {
        --avatar--Width: var(
            --avatar--m-sm--Width-on-lg,
            var(
                --avatar--m-sm--Width-on-md,
                var(--avatar--m-sm--Width-on-sm, var(--avatar--m-sm--Width))
            )
        );
    }
}

@media (min-width: 1200px) {
    :host([size="sm"]) {
        --avatar--Width: var(
            --avatar--m-sm--Width-on-xl,
            var(
                --avatar--m-sm--Width-on-lg,
                var(
                    --avatar--m-sm--Width-on-md,
                    var(--avatar--m-sm--Width-on-sm, var(--avatar--m-sm--Width))
                )
            )
        );
    }
}

@media (min-width: 1450px) {
    :host([size="sm"]) {
        --avatar--Width: var(
            --avatar--m-sm--Width-on-2xl,
            var(
                --avatar--m-sm--Width-on-xl,
                var(
                    --avatar--m-sm--Width-on-lg,
                    var(
                        --avatar--m-sm--Width-on-md,
                        var(--avatar--m-sm--Width-on-sm, var(--avatar--m-sm--Width))
                    )
                )
            )
        );
    }
}

@media (min-width: 576px) {
    :host([size="sm"]) {
        --avatar--Height: var(--avatar--m-sm--Height-on-sm, var(--avatar--m-sm--Height));
    }
}

@media (min-width: 768px) {
    :host([size="sm"]) {
        --avatar--Height: var(
            --avatar--m-sm--Height-on-md,
            var(--avatar--m-sm--Height-on-sm, var(--avatar--m-sm--Height))
        );
    }
}

@media (min-width: 992px) {
    :host([size="sm"]) {
        --avatar--Height: var(
            --avatar--m-sm--Height-on-lg,
            var(
                --avatar--m-sm--Height-on-md,
                var(--avatar--m-sm--Height-on-sm, var(--avatar--m-sm--Height))
            )
        );
    }
}

@media (min-width: 1200px) {
    :host([size="sm"]) {
        --avatar--Height: var(
            --avatar--m-sm--Height-on-xl,
            var(
                --avatar--m-sm--Height-on-lg,
                var(
                    --avatar--m-sm--Height-on-md,
                    var(--avatar--m-sm--Height-on-sm, var(--avatar--m-sm--Height))
                )
            )
        );
    }
}

@media (min-width: 1450px) {
    :host([size="sm"]) {
        --avatar--Height: var(
            --avatar--m-sm--Height-on-2xl,
            var(
                --avatar--m-sm--Height-on-xl,
                var(
                    --avatar--m-sm--Height-on-lg,
                    var(
                        --avatar--m-sm--Height-on-md,
                        var(--avatar--m-sm--Height-on-sm, var(--avatar--m-sm--Height))
                    )
                )
            )
        );
    }
}

@media (min-width: 576px) {
    :host([size="md"]) {
        --avatar--Width: var(--avatar--m-md--Width-on-sm, var(--avatar--m-md--Width));
    }
}

@media (min-width: 768px) {
    :host([size="md"]) {
        --avatar--Width: var(
            --avatar--m-md--Width-on-md,
            var(--avatar--m-md--Width-on-sm, var(--avatar--m-md--Width))
        );
    }
}

@media (min-width: 992px) {
    :host([size="md"]) {
        --avatar--Width: var(
            --avatar--m-md--Width-on-lg,
            var(
                --avatar--m-md--Width-on-md,
                var(--avatar--m-md--Width-on-sm, var(--avatar--m-md--Width))
            )
        );
    }
}

@media (min-width: 1200px) {
    :host([size="md"]) {
        --avatar--Width: var(
            --avatar--m-md--Width-on-xl,
            var(
                --avatar--m-md--Width-on-lg,
                var(
                    --avatar--m-md--Width-on-md,
                    var(--avatar--m-md--Width-on-sm, var(--avatar--m-md--Width))
                )
            )
        );
    }
}

@media (min-width: 1450px) {
    :host([size="md"]) {
        --avatar--Width: var(
            --avatar--m-md--Width-on-2xl,
            var(
                --avatar--m-md--Width-on-xl,
                var(
                    --avatar--m-md--Width-on-lg,
                    var(
                        --avatar--m-md--Width-on-md,
                        var(--avatar--m-md--Width-on-sm, var(--avatar--m-md--Width))
                    )
                )
            )
        );
    }
}

@media (min-width: 576px) {
    :host([size="md"]) {
        --avatar--Height: var(--avatar--m-md--Height-on-sm, var(--avatar--m-md--Height));
    }
}

@media (min-width: 768px) {
    :host([size="md"]) {
        --avatar--Height: var(
            --avatar--m-md--Height-on-md,
            var(--avatar--m-md--Height-on-sm, var(--avatar--m-md--Height))
        );
    }
}

@media (min-width: 992px) {
    :host([size="md"]) {
        --avatar--Height: var(
            --avatar--m-md--Height-on-lg,
            var(
                --avatar--m-md--Height-on-md,
                var(--avatar--m-md--Height-on-sm, var(--avatar--m-md--Height))
            )
        );
    }
}

@media (min-width: 1200px) {
    :host([size="md"]) {
        --avatar--Height: var(
            --avatar--m-md--Height-on-xl,
            var(
                --avatar--m-md--Height-on-lg,
                var(
                    --avatar--m-md--Height-on-md,
                    var(--avatar--m-md--Height-on-sm, var(--avatar--m-md--Height))
                )
            )
        );
    }
}

@media (min-width: 1450px) {
    :host([size="md"]) {
        --avatar--Height: var(
            --avatar--m-md--Height-on-2xl,
            var(
                --avatar--m-md--Height-on-xl,
                var(
                    --avatar--m-md--Height-on-lg,
                    var(
                        --avatar--m-md--Height-on-md,
                        var(--avatar--m-md--Height-on-sm, var(--avatar--m-md--Height))
                    )
                )
            )
        );
    }
}

@media (min-width: 576px) {
    :host([size="lg"]) {
        --avatar--Width: var(--avatar--m-lg--Width-on-sm, var(--avatar--m-lg--Width));
    }
}

@media (min-width: 768px) {
    :host([size="lg"]) {
        --avatar--Width: var(
            --avatar--m-lg--Width-on-md,
            var(--avatar--m-lg--Width-on-sm, var(--avatar--m-lg--Width))
        );
    }
}

@media (min-width: 992px) {
    :host([size="lg"]) {
        --avatar--Width: var(
            --avatar--m-lg--Width-on-lg,
            var(
                --avatar--m-lg--Width-on-md,
                var(--avatar--m-lg--Width-on-sm, var(--avatar--m-lg--Width))
            )
        );
    }
}

@media (min-width: 1200px) {
    :host([size="lg"]) {
        --avatar--Width: var(
            --avatar--m-lg--Width-on-xl,
            var(
                --avatar--m-lg--Width-on-lg,
                var(
                    --avatar--m-lg--Width-on-md,
                    var(--avatar--m-lg--Width-on-sm, var(--avatar--m-lg--Width))
                )
            )
        );
    }
}

@media (min-width: 1450px) {
    :host([size="lg"]) {
        --avatar--Width: var(
            --avatar--m-lg--Width-on-2xl,
            var(
                --avatar--m-lg--Width-on-xl,
                var(
                    --avatar--m-lg--Width-on-lg,
                    var(
                        --avatar--m-lg--Width-on-md,
                        var(--avatar--m-lg--Width-on-sm, var(--avatar--m-lg--Width))
                    )
                )
            )
        );
    }
}

@media (min-width: 576px) {
    :host([size="lg"]) {
        --avatar--Height: var(--avatar--m-lg--Height-on-sm, var(--avatar--m-lg--Height));
    }
}

@media (min-width: 768px) {
    :host([size="lg"]) {
        --avatar--Height: var(
            --avatar--m-lg--Height-on-md,
            var(--avatar--m-lg--Height-on-sm, var(--avatar--m-lg--Height))
        );
    }
}

@media (min-width: 992px) {
    :host([size="lg"]) {
        --avatar--Height: var(
            --avatar--m-lg--Height-on-lg,
            var(
                --avatar--m-lg--Height-on-md,
                var(--avatar--m-lg--Height-on-sm, var(--avatar--m-lg--Height))
            )
        );
    }
}

@media (min-width: 1200px) {
    :host([size="lg"]) {
        --avatar--Height: var(
            --avatar--m-lg--Height-on-xl,
            var(
                --avatar--m-lg--Height-on-lg,
                var(
                    --avatar--m-lg--Height-on-md,
                    var(--avatar--m-lg--Height-on-sm, var(--avatar--m-lg--Height))
                )
            )
        );
    }
}

@media (min-width: 1450px) {
    :host([size="lg"]) {
        --avatar--Height: var(
            --avatar--m-lg--Height-on-2xl,
            var(
                --avatar--m-lg--Height-on-xl,
                var(
                    --avatar--m-lg--Height-on-lg,
                    var(
                        --avatar--m-lg--Height-on-md,
                        var(--avatar--m-lg--Height-on-sm, var(--avatar--m-lg--Height))
                    )
                )
            )
        );
    }
}

@media (min-width: 576px) {
    :host([size="xl"]) {
        --avatar--Width: var(--avatar--m-xl--Width-on-sm, var(--avatar--m-xl--Width));
    }
}

@media (min-width: 768px) {
    :host([size="xl"]) {
        --avatar--Width: var(
            --avatar--m-xl--Width-on-md,
            var(--avatar--m-xl--Width-on-sm, var(--avatar--m-xl--Width))
        );
    }
}

@media (min-width: 992px) {
    :host([size="xl"]) {
        --avatar--Width: var(
            --avatar--m-xl--Width-on-lg,
            var(
                --avatar--m-xl--Width-on-md,
                var(--avatar--m-xl--Width-on-sm, var(--avatar--m-xl--Width))
            )
        );
    }
}

@media (min-width: 1200px) {
    :host([size="xl"]) {
        --avatar--Width: var(
            --avatar--m-xl--Width-on-xl,
            var(
                --avatar--m-xl--Width-on-lg,
                var(
                    --avatar--m-xl--Width-on-md,
                    var(--avatar--m-xl--Width-on-sm, var(--avatar--m-xl--Width))
                )
            )
        );
    }
}

@media (min-width: 1450px) {
    :host([size="xl"]) {
        --avatar--Width: var(
            --avatar--m-xl--Width-on-2xl,
            var(
                --avatar--m-xl--Width-on-xl,
                var(
                    --avatar--m-xl--Width-on-lg,
                    var(
                        --avatar--m-xl--Width-on-md,
                        var(--avatar--m-xl--Width-on-sm, var(--avatar--m-xl--Width))
                    )
                )
            )
        );
    }
}

@media (min-width: 576px) {
    :host([size="xl"]) {
        --avatar--Height: var(--avatar--m-xl--Height-on-sm, var(--avatar--m-xl--Height));
    }
}

@media (min-width: 768px) {
    :host([size="xl"]) {
        --avatar--Height: var(
            --avatar--m-xl--Height-on-md,
            var(--avatar--m-xl--Height-on-sm, var(--avatar--m-xl--Height))
        );
    }
}

@media (min-width: 992px) {
    :host([size="xl"]) {
        --avatar--Height: var(
            --avatar--m-xl--Height-on-lg,
            var(
                --avatar--m-xl--Height-on-md,
                var(--avatar--m-xl--Height-on-sm, var(--avatar--m-xl--Height))
            )
        );
    }
}

@media (min-width: 1200px) {
    :host([size="xl"]) {
        --avatar--Height: var(
            --avatar--m-xl--Height-on-xl,
            var(
                --avatar--m-xl--Height-on-lg,
                var(
                    --avatar--m-xl--Height-on-md,
                    var(--avatar--m-xl--Height-on-sm, var(--avatar--m-xl--Height))
                )
            )
        );
    }
}

@media (min-width: 1450px) {
    :host([size="xl"]) {
        --avatar--Height: var(
            --avatar--m-xl--Height-on-2xl,
            var(
                --avatar--m-xl--Height-on-xl,
                var(
                    --avatar--m-xl--Height-on-lg,
                    var(
                        --avatar--m-xl--Height-on-md,
                        var(--avatar--m-xl--Height-on-sm, var(--avatar--m-xl--Height))
                    )
                )
            )
        );
    }
}
