/* This file is not automatically derived via WCCSS. It has been heavily modified to support using
 * `floating` and the `<dialog>` component.
 */

:host {
    --tooltip--BoxShadow: var(
        --pf-v5-c-tooltip--BoxShadow,
        0 0.25rem 0.5rem 0rem rgba(3, 3, 3, 0.12),
        0 0 0.25rem 0 rgba(3, 3, 3, 0.06)
    );
    --tooltip__content--PaddingTop: var(--pf-v5-c-tooltip__content--PaddingTop, 0.5rem);
    --tooltip__content--PaddingRight: var(--pf-v5-c-tooltip__content--PaddingRight, 0.5rem);
    --tooltip__content--PaddingBottom: var(--pf-v5-c-tooltip__content--PaddingBottom, 0.5rem);
    --tooltip__content--PaddingLeft: var(--pf-v5-c-tooltip__content--PaddingLeft, 0.5rem);
    --tooltip__content--Color: var(--pf-v5-c-tooltip__content--Color, #fff);
    --tooltip__content--BackgroundColor: var(--pf-v5-c-tooltip__content--BackgroundColor, #151515);
    --tooltip__content--FontSize: var(--pf-v5-c-tooltip__content--FontSize, 0.875rem);
    --tooltip__arrow--BackgroundColor: var(--pf-v5-c-tooltip__arrow--BackgroundColor, #151515);
    --tooltip__arrow--BoxShadow: var(
        --pf-v5-c-tooltip__arrow--BoxShadow,
        0 0.25rem 0.5rem 0rem rgba(3, 3, 3, 0.12),
        0 0 0.25rem 0 rgba(3, 3, 3, 0.06)
    );
    --tooltip__arrow--m-top--TranslateX: var(--pf-v5-c-tooltip__arrow--m-top--TranslateX, -50%);
    --tooltip__arrow--m-top--TranslateY: var(--pf-v5-c-tooltip__arrow--m-top--TranslateY, 50%);
    --tooltip__arrow--m-top--Rotate: var(--pf-v5-c-tooltip__arrow--m-top--Rotate, 45deg);
    --tooltip__arrow--m-right--TranslateX: var(--pf-v5-c-tooltip__arrow--m-right--TranslateX, -50%);
    --tooltip__arrow--m-right--TranslateY: var(--pf-v5-c-tooltip__arrow--m-right--TranslateY, -50%);
    --tooltip__arrow--m-right--Rotate: var(--pf-v5-c-tooltip__arrow--m-right--Rotate, 45deg);
    --tooltip__arrow--m-bottom--TranslateX: var(
        --pf-v5-c-tooltip__arrow--m-bottom--TranslateX,
        -50%
    );
    --tooltip__arrow--m-bottom--TranslateY: var(
        --pf-v5-c-tooltip__arrow--m-bottom--TranslateY,
        -50%
    );
    --tooltip__arrow--m-bottom--Rotate: var(--pf-v5-c-tooltip__arrow--m-bottom--Rotate, 45deg);
    --tooltip__arrow--m-left--TranslateX: var(--pf-v5-c-tooltip__arrow--m-left--TranslateX, 50%);
    --tooltip__arrow--m-left--TranslateY: var(--pf-v5-c-tooltip__arrow--m-left--TranslateY, -50%);
    --tooltip__arrow--m-left--Rotate: var(--pf-v5-c-tooltip__arrow--m-left--Rotate, 45deg);

    /* These have been modified to work better with floating and the `<dialog>` component. */
    --tooltip--MaxWidth: fit-content;
    --tooltip__arrow--Size: var(--ak-v1-c-tooltip--ArrowSize, 0.5rem);

    /* These control the fade in/fade out animations */
    --tooltip--TimingFunction: var(
        --pf-global--TimingFunction,
        cubic-bezier(0.645, 0.045, 0.355, 1)
    );
    --tooltip--TransitionDuration: var(--pf-global--TransitionDuration, 250ms);

    /* These control the delay before the browser opens or hides the tooltip
     * after the anchor has been triggered. */
    --tooltip--ShowDelay: var(--ak-v1-c-tooltip--ShowDelay, 100ms);
    --tooltip--HideDelay: var(--ak-v1-c-tooltip--HideDelay, 150ms);
}

@media (prefers-reduced-motion) {
    :host {
        --tooltip--ShowDelay: 1s;
        --tooltip--HideDelay: 1s;
        --tooltip--TimingFunction: linear;
        --tooltip--TransitionDuration: 0s;
    }
}

[part="tooltip"] {
    max-width: var(--tooltip--MaxWidth);
    box-shadow: var(--tooltip--BoxShadow);
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    transition:
        display var(--tooltip--TransitionDuration) var(--tooltip--TimingFunction) allow-discrete,
        overlay var(--tooltip--TransitionDuration) var(--tooltip--TimingFunction) allow-discrete;
    animation: close var(--tooltip--TransitionDuration) var(--tooltip--TimingFunction) forwards;
}

[part="tooltip"][open] {
    animation: open var(--tooltip--TransitionDuration) var(--tooltip--TimingFunction) forwards;
}

[part="arrow"] {
    z-index: 5;
    width: var(--tooltip__arrow--Size);
    height: var(--tooltip__arrow--Size);
    position: absolute;
    background-color: var(--tooltip__arrow--BackgroundColor);
    transform-origin: center;
    transform: rotate(45deg);
}

[part="content"] {
    z-index: 10;
    position: relative;
    background: var(--tooltip__content--BackgroundColor);
    padding-block-start: var(--tooltip__content--PaddingTop);
    padding-block-end: var(--tooltip__content--PaddingBottom);
    padding-inline-start: var(--tooltip__content--PaddingLeft);
    padding-inline-end: var(--tooltip__content--PaddingRight);
    font-size: var(--tooltip__content--FontSize);
    color: var(--tooltip__content--Color);
    text-align: center;
    word-break: break-word;
}

@keyframes open {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes close {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
