:host {
    --pf-v5-l-split--m-gutter--gap--xs: var(--pf-v5-global--spacer--xs, 0.5rem);
    --pf-v5-l-split--m-gutter--gap--sm: var(--pf-v5-global--spacer--sm, 0.5rem);
    --pf-v5-l-split--m-gutter--gap--md: var(--pf-v5-global--spacer--md, 1rem);
    --pf-v5-l-split--m-gutter--gap--lg: var(--pf-v5-global--spacer--lg, 1.5rem);
    --pf-v5-l-split--m-gutter--gap--xl: var(--pf-v5-global--spacer--xl, 2rem);
    --pf-v5-l-split--gutter: none;
    --pf-v5-l-split--align: none;
    padding: 0;
    margin: 0;
}

[part="split-item"] {
    padding: 0;
    margin: 0;
}

:host([wrap]) [part="split"] {
    border-collapse: collapse;
    flex-wrap: wrap;
}

:host([gutter="xs"]) {
    --pf-v5-l-split--gutter: var(--pf-v5-l-split--m-gutter--gap--xs);
}

:host([gutter="sm"]) {
    --pf-v5-l-split--gutter: var(--pf-v5-l-split--m-gutter--gap--sm);
}

:host([gutter="md"]) {
    --pf-v5-l-split--gutter: var(--pf-v5-l-split--m-gutter--gap--md);
}

:host([gutter="lg"]) {
    --pf-v5-l-split--gutter: var(--pf-v5-l-split--m-gutter--gap--lg);
}

:host([gutter="xl"]) {
    --pf-v5-l-split--gutter: var(--pf-v5-l-split--m-gutter--gap--xl);
}

:host([align="start"]) {
    --pf-v5-l-split--align: flex-start;
}

:host([align="center"]) {
    --pf-v5-l-split--align: center;
}

:host([align="end"]) {
    --pf-v5-l-split--align: flex-end;
}

:host([align="baseline"]) {
    --pf-v5-l-split--align: baseline;
}

:host([align="stretch"]) {
    --pf-v5-l-split--align: stretch;
}

[part="split"] {
    display: flex;
    gap: var(--pf-v5-l-split--gutter);
    align-items: var(--pf-v5-l-split--align);
    padding: 0;
    margin: 0;
}

[part*="fill"] {
    flex-grow: 1;
}
