:root {
    --pf-v5-c-battery--default--FillColor: var(--pf-v5-global--icon--Color--light);
    --pf-v5-c-battery--m-low--FillColor: var(--pf-v5-global--success-color--100);
    --pf-v5-c-battery--m-medium--FillColor: var(--pf-v5-global--warning-color--100);
    --pf-v5-c-battery--m-high--FillColor: var(--pf-v5-global--palette--orange-300);
    --pf-v5-c-battery--m-critical--FillColor: var(--pf-v5-global--danger-color--100);
    --pf-v5-c-battery--StrokeColor: var(--pf-v5-global--BorderColor--100);
    --pf-v5-c-battery--FillColor: var(--pf-v5-c-battery--default--FillColor);
    --pf-v5-c-battery--spacer: var(--pf-v5-global--spacer--sm);
    position: relative;
}
