/*
 * Because this is a community-supplied Paternfly variant, it's not part of the stock Patternfly
 * build.  The WCC file is written *as if* the `pf-battery.css` file was part of the stock
 * Patternfly component collection.
 */

:host {
    --battery--default--FillColor: var(--pf-v5-c-battery--default--FillColor, #6a6e73);
    --battery--m-low--FillColor: var(--pf-v5-c-battery--m-low--FillColor, #3e8635);
    --battery--m-medium--FillColor: var(--pf-v5-c-battery--m-medium--FillColor, #f0ab00);
    --battery--m-high--FillColor: var(--pf-v5-c-battery--m-high--FillColor, #ec7a08);
    --battery--m-critical--FillColor: var(--pf-v5-c-battery--m-critical--FillColor, #c9190b);
    --battery--StrokeColor: var(--pf-v5-c-battery--StrokeColor, #d2d2d2);
    --battery--FillColor: var(--pf-v5-c-battery--FillColor, 0.5rem);
    position: relative;
}

:host(:not([hidden])) {
    display: inline-block;
}

[part="shell"] {
    fill: none;
    fill-opacity: 1;
    stroke: var(--pf-v5-c-battery--StrokeColor);
    stroke-width: 2.625rem;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-dashoffset: 0;
    stroke-opacity: 1;
}

[part="level"] {
    line-height: 0;
    position: relative;
    stroke: var(--pf-v5-c-battery--StrokeColor);
    fill: var(--pf-v5-c-battery--FillColor);
}

[part="svg"] {
    position: relative;
    top: var(--pf-v5-c-battery--spacer);
    height: 1.75rem;
    enable-background: new 0 0 448 512;
}

:host([severity="low"]) {
    --pf-v5-c-battery--FillColor: var(--pf-v5-c-battery--m-low--FillColor);
}

:host([severity="medium"]) {
    --pf-v5-c-battery--FillColor: var(--pf-v5-c-battery--m-medium--FillColor);
}

:host([severity="high"]) {
    --pf-v5-c-battery--FillColor: var(--pf-v5-c-battery--m-high--FillColor);
}

:host([severity="critical"]) {
    --pf-v5-c-battery--FillColor: var(--pf-v5-c-battery--m-critical--FillColor);
}
