:host {
    --pf-v5-c-notification-counter--Width: auto;
    --pf-v5-c-notification-counter--Height: auto;
    --pf-v5-c-notification-counter--Width--base: var(--pf-v5-c-notification-counter--Width);
    --pf-v5-c-notification-counter--Height--base: var(--pf-v5-c-notification-counter--Height);
}

:host {
    width: var(--pf-v5-c-notification-counter--Width--base);
    height: var(--pf-v5-c-notification-counter--Height--base);
}

:host(:not([hidden])) {
    display: inline;
}

:host([picture]) {
    display: inline-flex;
}

@media (min-width: 576px) {
    :host {
        --pf-v5-c-notification-counter--Width--base: var(
            --pf-v5-c-notification-counter--Width-on-sm,
            var(--pf-v5-c-notification-counter--Width)
        );
    }
}

@media (min-width: 768px) {
    :host {
        --pf-v5-c-notification-counter--Width--base: var(
            --pf-v5-c-notification-counter--Width-on-md,
            var(--pf-v5-c-notification-counter--Width-on-sm, var(--pf-v5-c-notification-counter--Width))
        );
    }
}

@media (min-width: 992px) {
    :host {
        --pf-v5-c-notification-counter--Width--base: var(
            --pf-v5-c-notification-counter--Width-on-lg,
            var(
                --pf-v5-c-notification-counter--Width-on-md,
                var(--pf-v5-c-notification-counter--Width-on-sm, var(--pf-v5-c-notification-counter--Width))
            )
        );
    }
}

@media (min-width: 1200px) {
    :host {
        --pf-v5-c-notification-counter--Width--base: var(
            --pf-v5-c-notification-counter--Width-on-xl,
            var(
                --pf-v5-c-notification-counter--Width-on-lg,
                var(
                    --pf-v5-c-notification-counter--Width-on-md,
                    var(--pf-v5-c-notification-counter--Width-on-sm, var(--pf-v5-c-notification-counter--Width))
                )
            )
        );
    }
}

@media (min-width: 1450px) {
    :host {
        --pf-v5-c-notification-counter--Width--base: var(
            --pf-v5-c-notification-counter--Width-on-2xl,
            var(
                --pf-v5-c-notification-counter--Width-on-xl,
                var(
                    --pf-v5-c-notification-counter--Width-on-lg,
                    var(
                        --pf-v5-c-notification-counter--Width-on-md,
                        var(--pf-v5-c-notification-counter--Width-on-sm, var(--pf-v5-c-notification-counter--Width))
                    )
                )
            )
        );
    }
}

@media (min-width: 576px) {
    :host {
        --pf-v5-c-notification-counter--Height--base: var(
            --pf-v5-c-notification-counter--Height-on-sm,
            var(--pf-v5-c-notification-counter--Height)
        );
    }
}

@media (min-width: 768px) {
    :host {
        --pf-v5-c-notification-counter--Height--base: var(
            --pf-v5-c-notification-counter--Height-on-md,
            var(--pf-v5-c-notification-counter--Height-on-sm, var(--pf-v5-c-notification-counter--Height))
        );
    }
}

@media (min-width: 992px) {
    :host {
        --pf-v5-c-notification-counter--Height--base: var(
            --pf-v5-c-notification-counter--Height-on-lg,
            var(
                --pf-v5-c-notification-counter--Height-on-md,
                var(--pf-v5-c-notification-counter--Height-on-sm, var(--pf-v5-c-notification-counter--Height))
            )
        );
    }
}

@media (min-width: 1200px) {
    :host {
        --pf-v5-c-notification-counter--Height--base: var(
            --pf-v5-c-notification-counter--Height-on-xl,
            var(
                --pf-v5-c-notification-counter--Height-on-lg,
                var(
                    --pf-v5-c-notification-counter--Height-on-md,
                    var(--pf-v5-c-notification-counter--Height-on-sm, var(--pf-v5-c-notification-counter--Height))
                )
            )
        );
    }
}

@media (min-width: 1450px) {
    :host {
        --pf-v5-c-notification-counter--Height--base: var(
            --pf-v5-c-notification-counter--Height-on-2xl,
            var(
                --pf-v5-c-notification-counter--Height-on-xl,
                var(
                    --pf-v5-c-notification-counter--Height-on-lg,
                    var(
                        --pf-v5-c-notification-counter--Height-on-md,
                        var(--pf-v5-c-notification-counter--Height-on-sm, var(--pf-v5-c-notification-counter--Height))
                    )
                )
            )
        );
    }
}

[part="notification-counter"] {
    position: relative;
    object-fit: contain;
    width: var(--pf-v5-c-notification-counter--Width--base);
    height: var(--pf-v5-c-notification-counter--Height--base);
}
