@font-face {
    font-family: pficon;
    src:
        url("./pficon.woff2") format("woff2"),
        url("./pficon.woff") format("woff");
}

.pf,
.pf-icon {
    font-family: pficon;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: normal;
    font-style: normal;
    font-synthesis: none;
    font-variant: normal;
    font-weight: var(--fa-style, 900);
    line-height: 1;
    text-align: center;
    text-rendering: auto;
    width: var(--fa-width, 1.25em);
}

:is(.pf)::before,
:is(.pf-icon)::before {
    content: var(--pf);
    content: var(--pf) / "";
}

.pf-icon-add-circle-o {
    --pf: "\e61b";
}

.pf-icon-ansible-tower {
    --pf: "\e950";
}

.pf-icon-applications {
    --pf: "\e936";
}

.pf-icon-arrow {
    --pf: "\e929";
}

.pf-icon-asleep {
    --pf: "\e92e";
}

.pf-icon-attention-bell {
    --pf: "\e951";
}

.pf-icon-automation {
    --pf: "\e937";
}

.pf-icon-bell {
    --pf: "\e952";
}

.pf-icon-blueprint {
    --pf: "\e915";
}

.pf-icon-build {
    --pf: "\e902";
}

.pf-icon-builder-image {
    --pf: "\e800";
}

.pf-icon-bundle {
    --pf: "\e918";
}

.pf-icon-catalog {
    --pf: "\e953";
}

.pf-icon-chat {
    --pf: "\e954";
}

.pf-icon-close {
    --pf: "\e60b";
}

.pf-icon-cloud-security {
    --pf: "\e903";
}

.pf-icon-cloud-tenant {
    --pf: "\e904";
}

.pf-icon-cluster {
    --pf: "\e620";
}

.pf-icon-connected {
    --pf: "\e938";
}

.pf-icon-container-node {
    --pf: "\e621";
}

.pf-icon-cpu {
    --pf: "\e927";
}

.pf-icon-critical-risk {
    --pf: "\e976";
}

.pf-icon-data-processor {
    --pf: "\e97b";
}

.pf-icon-data-sink {
    --pf: "\e978";
}

.pf-icon-data-source {
    --pf: "\e979";
}

.pf-icon-degraded {
    --pf: "\e91b";
}

.pf-icon-disconnected {
    --pf: "\e955";
}

.pf-icon-domain {
    --pf: "\e919";
}

.pf-icon-edit {
    --pf: "\e60a";
}

.pf-icon-enhancement {
    --pf: "\e93a";
}

.pf-icon-enterprise {
    --pf: "\e906";
}

.pf-icon-equalizer {
    --pf: "\e956";
}

.pf-icon-error-circle-o {
    --pf: "\e926";
}

.pf-icon-export {
    --pf: "\e616";
}

.pf-icon-filter {
    --pf: "\e943";
}

.pf-icon-flavor {
    --pf: "\e957";
}

.pf-icon-folder-close {
    --pf: "\e607";
}

.pf-icon-folder-open {
    --pf: "\e606";
}

.pf-icon-globe-route {
    --pf: "\e958";
}

.pf-icon-help {
    --pf: "\e605";
}

.pf-icon-history {
    --pf: "\e617";
}

.pf-icon-home {
    --pf: "\e618";
}

.pf-icon-import {
    --pf: "\e615";
}

.pf-icon-in-progress {
    --pf: "\e933";
}

.pf-icon-info {
    --pf: "\e92b";
}

.pf-icon-infrastructure {
    --pf: "\e93d";
}

.pf-icon-integration {
    --pf: "\e948";
}

.pf-icon-key {
    --pf: "\e924";
}

.pf-icon-locked {
    --pf: "\e923";
}

.pf-icon-maintenance {
    --pf: "\e932";
}

.pf-icon-memory {
    --pf: "\e908";
}

.pf-icon-messages {
    --pf: "\e603";
}

.pf-icon-middleware {
    --pf: "\e917";
}

.pf-icon-migration {
    --pf: "\e931";
}

.pf-icon-module {
    --pf: "\e959";
}

.pf-icon-monitoring {
    --pf: "\e95a";
}

.pf-icon-namespaces {
    --pf: "\e95b";
}

.pf-icon-network {
    --pf: "\e909";
}

.pf-icon-new-process {
    --pf: "\e95c";
}

.pf-icon-not-started {
    --pf: "\e95d";
}

.pf-icon-off {
    --pf: "\e92d";
}

.pf-icon-ok {
    --pf: "\e602";
}

.pf-icon-on-running {
    --pf: "\e925";
}

.pf-icon-on {
    --pf: "\e92c";
}

.pf-icon-open-drawer-right {
    --pf: "\e977";
}

.pf-icon-openshift {
    --pf: "\e95e";
}

.pf-icon-openstack {
    --pf: "\e95f";
}

.pf-icon-optimize {
    --pf: "\e93e";
}

.pf-icon-orders {
    --pf: "\e93f";
}

.pf-icon-os-image {
    --pf: "\e960";
}

.pf-icon-package {
    --pf: "\e961";
}

.pf-icon-panel-close {
    --pf: "\e962";
}

.pf-icon-panel-open {
    --pf: "\e963";
}

.pf-icon-paused {
    --pf: "\e92f";
}

.pf-icon-pending {
    --pf: "\e964";
}

.pf-icon-pficon-dragdrop {
    --pf: "\e965";
}

.pf-icon-pficon-history {
    --pf: "\e966";
}

.pf-icon-pficon-network-range {
    --pf: "\e967";
}

.pf-icon-pficon-satellite {
    --pf: "\e968";
}

.pf-icon-pficon-sort-common-asc {
    --pf: "\e94e";
}

.pf-icon-pficon-sort-common-desc {
    --pf: "\e94f";
}

.pf-icon-pficon-template {
    --pf: "\e94c";
}

.pf-icon-pficon-vcenter {
    --pf: "\e969";
}

.pf-icon-plugged {
    --pf: "\e96a";
}

.pf-icon-port {
    --pf: "\e96b";
}

.pf-icon-print {
    --pf: "\e612";
}

.pf-icon-private {
    --pf: "\e914";
}

.pf-icon-process-automation {
    --pf: "\e949";
}

.pf-icon-project {
    --pf: "\e96c";
}

.pf-icon-rebalance {
    --pf: "\e91c";
}

.pf-icon-rebooting {
    --pf: "\e96d";
}

.pf-icon-regions {
    --pf: "\e90a";
}

.pf-icon-registry {
    --pf: "\e623";
}

.pf-icon-remove2 {
    --pf: "\e96e";
}

.pf-icon-replicator {
    --pf: "\e624";
}

.pf-icon-repository {
    --pf: "\e90b";
}

.pf-icon-resource-pool {
    --pf: "\e90c";
}

.pf-icon-resources-almost-empty {
    --pf: "\e91d";
}

.pf-icon-resources-almost-full {
    --pf: "\e912";
}

.pf-icon-resources-empty {
    --pf: "\e96f";
}

.pf-icon-resources-full {
    --pf: "\e913";
}

.pf-icon-running {
    --pf: "\e970";
}

.pf-icon-save {
    --pf: "\e601";
}

.pf-icon-screen {
    --pf: "\e971";
}

.pf-icon-security {
    --pf: "\e946";
}

.pf-icon-server-group {
    --pf: "\e91a";
}

.pf-icon-server {
    --pf: "\e90d";
}

.pf-icon-service-catalog {
    --pf: "\e972";
}

.pf-icon-service {
    --pf: "\e61e";
}

.pf-icon-services {
    --pf: "\e947";
}

.pf-icon-spinner {
    --pf: "\e973";
}

.pf-icon-spinner2 {
    --pf: "\e613";
}

.pf-icon-storage-domain {
    --pf: "\e90e";
}

.pf-icon-task {
    --pf: "\e974";
}

.pf-icon-tenant {
    --pf: "\e916";
}

.pf-icon-thumb-tack {
    --pf: "\e920";
}

.pf-icon-topology {
    --pf: "\e608";
}

.pf-icon-trend-down {
    --pf: "\e900";
}

.pf-icon-trend-up {
    --pf: "\e901";
}

.pf-icon-unknown {
    --pf: "\e935";
}

.pf-icon-unlocked {
    --pf: "\e922";
}

.pf-icon-unplugged {
    --pf: "\e942";
}

.pf-icon-user {
    --pf: "\e91e";
}

.pf-icon-users {
    --pf: "\e91f";
}

.pf-icon-virtual-machine {
    --pf: "\e90f";
}

.pf-icon-volume {
    --pf: "\e910";
}

.pf-icon-warning-triangle {
    --pf: "\e975";
}

.pf-icon-zone {
    --pf: "\e911";
}
