:host {
    --expandable-section__toggle--PaddingTop: var(
        --pf-v5-c-expandable-section__toggle--PaddingTop,
        0.375rem
    );
    --expandable-section__toggle--PaddingRight: var(
        --pf-v5-c-expandable-section__toggle--PaddingRight,
        1rem
    );
    --expandable-section__toggle--PaddingBottom: var(
        --pf-v5-c-expandable-section__toggle--PaddingBottom,
        0.375rem
    );
    --expandable-section__toggle--PaddingLeft: var(
        --pf-v5-c-expandable-section__toggle--PaddingLeft,
        0
    );
    --expandable-section__toggle--MarginTop: var(
        --pf-v5-c-expandable-section__toggle--MarginTop,
        0
    );
    --expandable-section__toggle--Color: var(--pf-v5-c-expandable-section__toggle--Color, #06c);
    --expandable-section__toggle--hover--Color: var(
        --pf-v5-c-expandable-section__toggle--hover--Color,
        #004080
    );
    --expandable-section__toggle--active--Color: var(
        --pf-v5-c-expandable-section__toggle--active--Color,
        #004080
    );
    --expandable-section__toggle--focus--Color: var(
        --pf-v5-c-expandable-section__toggle--focus--Color,
        #004080
    );
    --expandable-section__toggle--m-expanded--Color: var(
        --pf-v5-c-expandable-section__toggle--m-expanded--Color,
        #004080
    );
    --expandable-section__toggle--BackgroundColor: var(
        --pf-v5-c-expandable-section__toggle--BackgroundColor,
        transparent
    );
    --expandable-section__toggle-icon--MinWidth: var(
        --pf-v5-c-expandable-section__toggle-icon--MinWidth,
        1em
    );
    --expandable-section__toggle-icon--Color: var(
        --pf-v5-c-expandable-section__toggle-icon--Color,
        #151515
    );
    --expandable-section__toggle-icon--Transition: var(
        --pf-v5-c-expandable-section__toggle-icon--Transition,
        0.2s ease-in 0s
    );
    --expandable-section__toggle-icon--Rotate: var(
        --pf-v5-c-expandable-section__toggle-icon--Rotate,
        0
    );
    --expandable-section__toggle-icon--m-expand-top--Rotate: var(
        --pf-v5-c-expandable-section__toggle-icon--m-expand-top--Rotate,
        0
    );
    --expandable-section--m-expanded__toggle-icon--Rotate: var(
        --pf-v5-c-expandable-section--m-expanded__toggle-icon--Rotate,
        90deg
    );
    --expandable-section--m-expanded__toggle-icon--m-expand-top--Rotate: var(
        --pf-v5-c-expandable-section--m-expanded__toggle-icon--m-expand-top--Rotate,
        -90deg
    );
    --expandable-section__toggle-text--MarginLeft: var(
        --pf-v5-c-expandable-section__toggle-text--MarginLeft,
        calc(0.25rem + 0.5rem)
    );
    --expandable-section__content--MarginTop: var(
        --pf-v5-c-expandable-section__content--MarginTop,
        1rem
    );
    --expandable-section__content--MaxWidth: var(
        --pf-v5-c-expandable-section__content--MaxWidth,
        auto
    );
    --expandable-section--m-limit-width__content--MaxWidth: var(
        --pf-v5-c-expandable-section--m-limit-width__content--MaxWidth,
        46.875rem
    );
    --expandable-section--m-display-lg--BoxShadow: var(
        --pf-v5-c-expandable-section--m-display-lg--BoxShadow,
        0 0.25rem 0.5rem 0rem rgba(3, 3, 3, 0.12),
        0 0 0.25rem 0 rgba(3, 3, 3, 0.06)
    );
    --expandable-section--m-display-lg__toggle--PaddingTop: var(
        --pf-v5-c-expandable-section--m-display-lg__toggle--PaddingTop,
        1rem
    );
    --expandable-section--m-display-lg__toggle--PaddingRight: var(
        --pf-v5-c-expandable-section--m-display-lg__toggle--PaddingRight,
        1rem
    );
    --expandable-section--m-display-lg__toggle--PaddingBottom: var(
        --pf-v5-c-expandable-section--m-display-lg__toggle--PaddingBottom,
        1rem
    );
    --expandable-section--m-display-lg__toggle--PaddingLeft: var(
        --pf-v5-c-expandable-section--m-display-lg__toggle--PaddingLeft,
        1rem
    );
    --expandable-section--m-display-lg__content--MarginTop: var(
        --pf-v5-c-expandable-section--m-display-lg__content--MarginTop,
        0
    );
    --expandable-section--m-display-lg__content--PaddingRight: var(
        --pf-v5-c-expandable-section--m-display-lg__content--PaddingRight,
        1.5rem
    );
    --expandable-section--m-display-lg__content--PaddingBottom: var(
        --pf-v5-c-expandable-section--m-display-lg__content--PaddingBottom,
        1.5rem
    );
    --expandable-section--m-display-lg__content--PaddingLeft: var(
        --pf-v5-c-expandable-section--m-display-lg__content--PaddingLeft,
        1.5rem
    );
    --expandable-section--m-display-lg--after--BackgroundColor: var(
        --pf-v5-c-expandable-section--m-display-lg--after--BackgroundColor,
        transparent
    );
    --expandable-section--m-display-lg--after--Width: var(
        --pf-v5-c-expandable-section--m-display-lg--after--Width,
        3px
    );
    --expandable-section--m-display-lg--m-expanded--after--BackgroundColor: var(
        --pf-v5-c-expandable-section--m-display-lg--m-expanded--after--BackgroundColor,
        #06c
    );
    --expandable-section--m-indented__content--PaddingLeft: var(
        --pf-v5-c-expandable-section--m-indented__content--PaddingLeft,
        calc(calc(0.25rem + 0.5rem) + 1em)
    );
    --expandable-section--m-truncate__content--LineClamp: var(
        --pf-v5-c-expandable-section--m-truncate__content--LineClamp,
        3
    );
    --expandable-section--m-truncate__toggle--MarginTop: var(
        --pf-v5-c-expandable-section--m-truncate__toggle--MarginTop,
        0.25rem
    );
}

:host([open]) {
    --expandable-section__toggle--Color: var(--expandable-section__toggle--m-expanded--Color);
    --expandable-section__toggle-icon--Rotate: var(
        --expandable-section--m-expanded__toggle-icon--Rotate
    );
    --expandable-section__toggle-icon--m-expand-top--Rotate: var(
        --expandable-section--m-expanded__toggle-icon--m-expand-top--Rotate
    );
    --expandable-section--m-display-lg--after--BackgroundColor: var(
        --expandable-section--m-display-lg--m-expanded--after--BackgroundColor
    );
}

:host(:not([no-highlight])) {
    position: relative;
}

:host(:not([no-highlight])) #main {
    --expandable-section__toggle--PaddingTop: var(
        --expandable-section--m-display-lg__toggle--PaddingTop
    );
    --expandable-section__toggle--PaddingRight: var(
        --expandable-section--m-display-lg__toggle--PaddingRight
    );
    --expandable-section__toggle--PaddingBottom: var(
        --expandable-section--m-display-lg__toggle--PaddingBottom
    );
    --expandable-section__toggle--PaddingLeft: var(
        --expandable-section--m-display-lg__toggle--PaddingLeft
    );
    --expandable-section__content--PaddingRight: var(
        --expandable-section--m-display-lg__content--PaddingRight
    );
    --expandable-section__content--PaddingBottom: var(
        --expandable-section--m-display-lg__content--PaddingBottom
    );
    --expandable-section__content--PaddingLeft: var(
        --expandable-section--m-display-lg__content--PaddingLeft
    );
    --expandable-section__content--MarginTop: var(
        --expandable-section--m-display-lg__content--MarginTop
    );
    box-shadow: var(--expandable-section--m-display-lg--BoxShadow);
}

:host(:not([no-highlight])) #main::after {
    position: absolute;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-start: 0;
    width: var(--expandable-section--m-display-lg--after--Width);
    content: "";
    background-color: var(--expandable-section--m-display-lg--after--BackgroundColor);
}

:host([indent]) [part="disclosure"] {
    --expandable-section__content--PaddingLeft: var(
        --expandable-section--m-indented__content--PaddingLeft
    );
}

[part="toggle"] {
    display: flex;
    padding-block-start: var(--expandable-section__toggle--PaddingTop);
    padding-block-end: var(--expandable-section__toggle--PaddingBottom);
    padding-inline-start: var(--expandable-section__toggle--PaddingLeft);
    padding-inline-end: var(--expandable-section__toggle--PaddingRight);
    margin-block-start: var(--expandable-section__toggle--MarginTop);
    color: var(--expandable-section__toggle--Color);
    background-color: var(--expandable-section__toggle--BackgroundColor);
    border: none;
}

[part="toggle"]:hover {
    --expandable-section__toggle--Color: var(--expandable-section__toggle--hover--Color);
}

[part="toggle"]:active {
    --expandable-section__toggle--Color: var(--expandable-section__toggle--active--Color);
}

[part="toggle"]:focus {
    --expandable-section__toggle--Color: var(--expandable-section__toggle--focus--Color);
}

[part="icon"] {
    min-width: var(--expandable-section__toggle-icon--MinWidth);
    color: var(--expandable-section__toggle-icon--Color);
    transition: var(--expandable-section__toggle-icon--Transition);
    transform: rotate(var(--expandable-section__toggle-icon--Rotate));
}

[part="label"] {
    margin-inline-start: var(--expandable-section__toggle-text--MarginLeft);
}

[part="content"] {
    max-width: var(--expandable-section__content--MaxWidth);
    padding-block-end: var(--expandable-section__content--PaddingBottom);
    padding-inline-start: var(--expandable-section__content--PaddingLeft);
    padding-inline-end: var(--expandable-section__content--PaddingRight);
    margin-block-start: var(--expandable-section__content--MarginTop);
}
