:root {
    --pf-v5-c-expandable-section__toggle--PaddingTop: var(--pf-v5-global--spacer--form-element);
    --pf-v5-c-expandable-section__toggle--PaddingRight: var(--pf-v5-global--spacer--md);
    --pf-v5-c-expandable-section__toggle--PaddingBottom: var(--pf-v5-global--spacer--form-element);
    --pf-v5-c-expandable-section__toggle--PaddingLeft: 0;
    --pf-v5-c-expandable-section__toggle--MarginTop: 0;
    --pf-v5-c-expandable-section__toggle--Color: var(--pf-v5-global--link--Color);
    --pf-v5-c-expandable-section__toggle--hover--Color: var(--pf-v5-global--link--Color--hover);
    --pf-v5-c-expandable-section__toggle--active--Color: var(--pf-v5-global--link--Color--hover);
    --pf-v5-c-expandable-section__toggle--focus--Color: var(--pf-v5-global--link--Color--hover);
    --pf-v5-c-expandable-section__toggle--m-expanded--Color: var(
        --pf-v5-global--link--Color--hover
    );
    --pf-v5-c-expandable-section__toggle--BackgroundColor: transparent;
    --pf-v5-c-expandable-section__toggle-icon--MinWidth: 1em;
    --pf-v5-c-expandable-section__toggle-icon--Color: var(--pf-v5-global--Color--100);
    --pf-v5-c-expandable-section__toggle-icon--Transition: 0.2s ease-in 0s;
    --pf-v5-c-expandable-section__toggle-icon--Rotate: 0;
    --pf-v5-c-expandable-section__toggle-icon--m-expand-top--Rotate: 0;
    --pf-v5-c-expandable-section--m-expanded__toggle-icon--Rotate: 90deg;
    --pf-v5-c-expandable-section--m-expanded__toggle-icon--m-expand-top--Rotate: -90deg;
    --pf-v5-c-expandable-section__toggle-text--MarginLeft: var(
        calc(--pf-v5-global--spacer--xs + --pf-v5-global--spacer--sm)
    );
    --pf-v5-c-expandable-section__content--MarginTop: var(--pf-v5-global--spacer--md);
    --pf-v5-c-expandable-section__content--MaxWidth: auto;
    --pf-v5-c-expandable-section--m-limit-width__content--MaxWidth: 46.875rem;
    --pf-v5-c-expandable-section--m-display-lg--BoxShadow: var(--pf-v5-global--BoxShadow--md);
    --pf-v5-c-expandable-section--m-display-lg__toggle--PaddingTop: var(--pf-v5-global--spacer--md);
    --pf-v5-c-expandable-section--m-display-lg__toggle--PaddingRight: var(
        --pf-v5-global--spacer--md
    );
    --pf-v5-c-expandable-section--m-display-lg__toggle--PaddingBottom: var(
        --pf-v5-global--spacer--md
    );
    --pf-v5-c-expandable-section--m-display-lg__toggle--PaddingLeft: var(
        --pf-v5-global--spacer--md
    );
    --pf-v5-c-expandable-section--m-display-lg__content--MarginTop: 0;
    --pf-v5-c-expandable-section--m-display-lg__content--PaddingRight: var(
        --pf-v5-global--spacer--lg
    );
    --pf-v5-c-expandable-section--m-display-lg__content--PaddingBottom: var(
        --pf-v5-global--spacer--lg
    );
    --pf-v5-c-expandable-section--m-display-lg__content--PaddingLeft: var(
        --pf-v5-global--spacer--lg
    );
    --pf-v5-c-expandable-section--m-display-lg--after--BackgroundColor: transparent;
    --pf-v5-c-expandable-section--m-display-lg--after--Width: var(--pf-v5-global--BorderWidth--lg);
    --pf-v5-c-expandable-section--m-display-lg--m-expanded--after--BackgroundColor: var(
        --pf-v5-global--primary-color--100
    );
    --pf-v5-c-expandable-section--m-indented__content--PaddingLeft: var(
        calc(
            --pf-v5-c-expandable-section__toggle-text--MarginLeft +
                --pf-v5-c-expandable-section__toggle-icon--MinWidth
        )
    );
    --pf-v5-c-expandable-section--m-truncate__content--LineClamp: 3;
    --pf-v5-c-expandable-section--m-truncate__toggle--MarginTop: var(--pf-v5-global--spacer--xs);
}
