:host {
    --pf-v5-c-divider--color: var(--pf-v5-global--BorderColor--100, #d2d2d2);
    --pf-v5-c-divider--strong-color: var(--pf-v5-global--BorderColor--light-100, #8a8d90);
    --pf-v5-c-divider--subtle-color: var(--pf-v5-global--BorderColor--300, #ededed);
    --pf-v5-c-divider--margin: 1rem 0;
    --pf-v5-c-divider--content-spacing: 0.35rem;
    --pf-v5-c-divider--border-width: 1px;
}

/*
:host {
    display: block;
    margin: var(--pf-v5-c-divider--margin);
}
*/

/* Base divider container styles */
/*
#main {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
*/

/*
::slotted(*) {
    color: var(--pf-v5-c-divider--color);
}
*/


/* Line element styles */
/*
.line {
    flex: 1;
    position: relative;
}
*/

/*
.line::before {
    background-color: var(--pf-v5-c-divider--color);
}
*/

/* Content container styling */
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--pf-v5-c-divider--content-spacing);
}

/* ====== Horizontal orientation (default) ====== */
/*
:host(:not([orientation])) #main,
:host([orientation="horizontal"]) #main {
    flex-direction: row;
}
*/

/*
:host(:not([orientation])) #main:not(.with-content) .line::before,
:host([orientation="horizontal"]) #main:not(.with-content) .line::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: var(--pf-v5-c-divider--border-width);
}
*/

:host(:not([orientation])) .with-content .start::before,
:host(:not([orientation])) .with-content .end::before,
:host([orientation="horizontal"]) .with-content .start::before,
:host([orientation="horizontal"]) .with-content .end::before {
    content: "";
    position: absolute;
    top: 50%;
    height: var(--pf-v5-c-divider--border-width);
    background-color: var(--pf-v5-c-divider--color);
}

:host(:not([orientation])) .with-content .start::before,
:host([orientation="horizontal"]) .with-content .start::before {
    left: 0;
    right: 0;
}
:host(:not([orientation])) .with-content .end::before,
:host([orientation="horizontal"]) .with-content .end::before {
    left: 0;
    right: 0;
}

:host([theme="dark"]) {
    --pf-v5-c-divider--color: var(--pf-v5-global--BorderColor--100, #444548);
    --pf-v5-c-divider--strong-color: var(--pf-v5-global--BorderColor--light-100, #1b1d21);
    --pf-v5-c-divider--subtle-color: var(--pf-v5-global--BorderColor--300, #26292d);
}

/* ====== Vertical orientation ====== */
/*
:host([orientation="vertical"]) {
    --pf-v5-c-divider--content-spacing: 0.2rem;
    height: 100%;
    display: inline-flex;
    margin: 0 var(--pf-v5-c-divider--content-spacing);
}
*/

/*
:host([orientation="vertical"]) #main {
    flex-direction: column;
    height: 100%;
}
*/
/*
:host([orientation="vertical"]) #main:not(.with-content) .line::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: var(--pf-v5-c-divider--border-width);
    background-color: var(--pf-v5-c-divider--color);
}
*/

:host([orientation="vertical"]) .with-content .start::before,
:host([orientation="vertical"]) .with-content .end::before {
    content: "";
    position: absolute;
    left: 50%;
    width: var(--pf-v5-c-divider--border-width);
    background-color: var(--pf-v5-c-divider--color);
}
:host([orientation="vertical"]) .with-content .start::before {
    top: 0;
    bottom: 0;
}
:host([orientation="vertical"]) .with-content .end::before {
    top: 0;
    bottom: 0;
}
:host([orientation="vertical"]) .with-content .content {
    padding: var(--pf-v5-c-divider--content-spacing) 0;
}

/* ====== Variant styling ====== */
:host([variant="strong"]) ::slotted(*) {
    color: var(--pf-v5-c-divider--strong-color);
}
:host([variant="strong"]) .line::before {
    background-color: var(--pf-v5-c-divider--strong-color);
}

:host([variant="subtle"]) ::slotted(*) {
    color: var(--pf-v5-c-divider--subtle-color);
}
:host([variant="subtle"]) .line::before {
    background-color: var(--pf-v5-c-divider--subtle-color);
}
