:host {
    --pf-v5-c-progress--GridGap: var(--pf-v5-global--spacer--md, 1rem);
    --pf-v5-c-progress__bar--before--BackgroundColor: var(--pf-v5-global--primary-color--100, #06c);
    --pf-v5-c-progress__bar--Height: var(--pf-v5-global--spacer--md, 1rem);
    --pf-v5-c-progress__bar--BackgroundColor: var(--pf-v5-global--BackgroundColor--light-100, #fff);
    --pf-v5-c-progress__measure--m-static-width--MinWidth: 4.5ch;
    --pf-v5-c-progress__status--Gap: var(--pf-v5-global--spacer--sm, 0.5rem);
    --pf-v5-c-progress__status-icon--Color: var(--pf-v5-global--Color--100, #151515);
    --pf-v5-c-progress__bar--before--Opacity: 0.2;
    --pf-v5-c-progress__indicator--Height: var(--pf-v5-c-progress__bar--Height);
    --pf-v5-c-progress__indicator--BackgroundColor: var(
        --pf-v5-c-progress__bar--before--BackgroundColor
    );
    --pf-v5-c-progress__helper-text--MarginTop: calc(
        var(--pf-v5-global--spacer--xs, 0.25rem) - var(--pf-v5-c-progress--GridGap)
    );
    --pf-v5-c-progress--m-success__bar--BackgroundColor: var(
        --pf-v5-global--success-color--100,
        #3e8635
    );
    --pf-v5-c-progress--m-warning__bar--BackgroundColor: var(
        --pf-v5-global--warning-color--100,
        #f0ab00
    );
    --pf-v5-c-progress--m-danger__bar--BackgroundColor: var(
        --pf-v5-global--danger-color--100,
        #c9190b
    );
    --pf-v5-c-progress--m-success__status-icon--Color: var(
        --pf-v5-global--success-color--100,
        #3e8635
    );
    --pf-v5-c-progress--m-warning__status-icon--Color: var(
        --pf-v5-global--warning-color--100,
        #f0ab00
    );
    --pf-v5-c-progress--m-danger__status-icon--Color: var(
        --pf-v5-global--danger-color--100,
        #c9190b
    );
    --pf-v5-c-progress--m-inside__indicator--MinWidth: var(--pf-v5-global--spacer--xl, 2rem);
    --pf-v5-c-progress--m-inside__measure--Color: var(--pf-v5-global--Color--light-100, #fff);
    --pf-v5-c-progress--m-success--m-inside__measure--Color: var(
        --pf-v5-global--Color--light-100,
        #fff
    );
    --pf-v5-c-progress--m-warning--m-inside__measure--Color: var(
        --pf-v5-global--Color--dark-100,
        #151515
    );
    --pf-v5-c-progress--m-inside__measure--FontSize: var(--pf-v5-global--FontSize--sm, 0.875rem);
    --pf-v5-c-progress--m-outside__measure--FontSize: var(--pf-v5-global--FontSize--sm, 0.875rem);
    --pf-v5-c-progress--m-sm__bar--Height: var(--pf-v5-global--spacer--sm, 0.5rem);
    --pf-v5-c-progress--m-sm__description--FontSize: var(--pf-v5-global--FontSize--sm, 0.875rem);
    --pf-v5-c-progress--m-sm__measure--FontSize: var(--pf-v5-global--FontSize--sm, 0.875rem);
    --pf-v5-c-progress--m-lg__bar--Height: var(--pf-v5-global--spacer--lg, 1.5rem);
}

:host(:not[hidden]) {
    display: block;
}

[part="main"] {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto auto;
    grid-gap: var(--pf-v5-c-progress--GridGap);
    align-items: end;
}

:host([size="sm"]) {
    --pf-v5-c-progress__bar--Height: var(--pf-v5-c-progress--m-sm__bar--Height);
}

:host([size="lg"]) {
    --pf-v5-c-progress__bar--Height: var(--pf-v5-c-progress--m-lg__bar--Height);
}

:host([size="sm"]) [part="description"] {
    font-size: var(--pf-v5-c-progress--m-sm__description--FontSize);
}

:host([size="sm"]) [part="measure"] {
    font-size: var(--pf-v5-c-progress--m-sm__measure--FontSize);
}

:host([variant="inside"]) [part="indicator"] {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--pf-v5-c-progress--m-inside__indicator--MinWidth);
}

:host([variant="inside"]) [part="measure"] {
    font-size: var(--pf-v5-c-progress--m-inside__measure--FontSize);
    color: var(--pf-v5-c-progress--m-inside__measure--Color);
    text-align: center;
}

:host([variant="outside"]) [part="description"] {
    grid-column: 1/3;
}

:host([variant="outside"]) [part="measure"] {
    display: inline-block;
    font-size: var(--pf-v5-c-progress--m-outside__measure--FontSize);
}

:host([variant="outside"]) [part="indicator"] {
    grid-column: 1/2;
}

:host([variant="outside"]) [part="bar"],
:host([variant="outside"]) [part="indicator"] {
    grid-column: 1/2;
}

:host([severity="success"]) {
    --pf-v5-c-progress__bar--before--BackgroundColor: var(
        --pf-v5-c-progress--m-success__bar--BackgroundColor
    );
    --pf-v5-c-progress__status-icon--Color: var(--pf-v5-c-progress--m-success__status-icon--Color);
    --pf-v5-c-progress--m-inside__measure--Color: var(
        --pf-v5-c-progress--m-success--m-inside__measure--Color
    );
}

:host([severity="warning"]) {
    --pf-v5-c-progress__bar--before--BackgroundColor: var(
        --pf-v5-c-progress--m-warning__bar--BackgroundColor
    );
    --pf-v5-c-progress__status-icon--Color: var(--pf-v5-c-progress--m-warning__status-icon--Color);
    --pf-v5-c-progress--m-inside__measure--Color: var(
        --pf-v5-c-progress--m-warning--m-inside__measure--Color
    );
}

:host([severity="danger"]) {
    --pf-v5-c-progress__bar--before--BackgroundColor: var(
        --pf-v5-c-progress--m-danger__bar--BackgroundColor
    );
    --pf-v5-c-progress__status-icon--Color: var(--pf-v5-c-progress--m-danger__status-icon--Color);
}

[part="status"] {
    display: flex;
    grid-row: 1/2;
    grid-column: 2/3;
    gap: var(--pf-v5-c-progress__status--Gap);
    align-items: flex-start;
    justify-content: flex-end;
    text-align: end;
    word-break: break-word;
}

[part="status-icon"] {
    color: var(--pf-v5-c-progress__status-icon--Color);
}

[part="indicator"] {
    top: 0;
    left: 0;
}

[part="bar"] {
    position: relative;
    grid-row: 2/3;
    grid-column: 1/3;
    align-self: center;
    height: var(--pf-v5-c-progress__bar--Height);
    background-color: var(--pf-v5-c-progress__bar--BackgroundColor);
}

[part="indicator"] {
    position: absolute;
    height: var(--pf-v5-c-progress__indicator--Height);
    background-color: var(--pf-v5-c-progress__indicator--BackgroundColor);
}

[part="bar"]::before {
    top: 0;
    left: 0;
}

[part="bar"]::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: var(--pf-v5-c-progress__bar--before--BackgroundColor);
    opacity: var(--pf-v5-c-progress__bar--before--Opacity);
}
