:host {
    --progress--GridGap: var(--pf-v5-c-progress--GridGap, 1rem);
    --progress__bar--before--BackgroundColor: var(
        --pf-v5-c-progress__bar--before--BackgroundColor,
        #06c
    );
    --progress__bar--Height: var(--pf-v5-c-progress__bar--Height, 1rem);
    --progress__bar--BackgroundColor: var(--pf-v5-c-progress__bar--BackgroundColor, #fff);
    --progress__measure--m-static-width--MinWidth: var(
        --pf-v5-c-progress__measure--m-static-width--MinWidth,
        4.5ch
    );
    --progress__status--Gap: var(--pf-v5-c-progress__status--Gap, 0.5rem);
    --progress__status-icon--Color: var(--pf-v5-c-progress__status-icon--Color, #151515);
    --progress__bar--before--Opacity: var(--pf-v5-c-progress__bar--before--Opacity, 0.2);
    --progress__indicator--Height: var(--pf-v5-c-progress__indicator--Height, 1rem);
    --progress__indicator--BackgroundColor: var(
        --pf-v5-c-progress__indicator--BackgroundColor,
        #06c
    );
    --progress__helper-text--MarginTop: var(
        --pf-v5-c-progress__helper-text--MarginTop,
        calc(0.25rem - 1rem)
    );
    --progress--m-success__bar--BackgroundColor: var(
        --pf-v5-c-progress--m-success__bar--BackgroundColor,
        #3e8635
    );
    --progress--m-warning__bar--BackgroundColor: var(
        --pf-v5-c-progress--m-warning__bar--BackgroundColor,
        #f0ab00
    );
    --progress--m-danger__bar--BackgroundColor: var(
        --pf-v5-c-progress--m-danger__bar--BackgroundColor,
        #c9190b
    );
    --progress--m-success__status-icon--Color: var(
        --pf-v5-c-progress--m-success__status-icon--Color,
        #3e8635
    );
    --progress--m-warning__status-icon--Color: var(
        --pf-v5-c-progress--m-warning__status-icon--Color,
        #f0ab00
    );
    --progress--m-danger__status-icon--Color: var(
        --pf-v5-c-progress--m-danger__status-icon--Color,
        #c9190b
    );
    --progress--m-inside__indicator--MinWidth: var(
        --pf-v5-c-progress--m-inside__indicator--MinWidth,
        2rem
    );
    --progress--m-inside__measure--Color: var(--pf-v5-c-progress--m-inside__measure--Color, #fff);
    --progress--m-success--m-inside__measure--Color: var(
        --pf-v5-c-progress--m-success--m-inside__measure--Color,
        #fff
    );
    --progress--m-warning--m-inside__measure--Color: var(
        --pf-v5-c-progress--m-warning--m-inside__measure--Color,
        #151515
    );
    --progress--m-inside__measure--FontSize: var(
        --pf-v5-c-progress--m-inside__measure--FontSize,
        0.875rem
    );
    --progress--m-outside__measure--FontSize: var(
        --pf-v5-c-progress--m-outside__measure--FontSize,
        0.875rem
    );
    --progress--m-sm__bar--Height: var(--pf-v5-c-progress--m-sm__bar--Height, 0.5rem);
    --progress--m-sm__description--FontSize: var(
        --pf-v5-c-progress--m-sm__description--FontSize,
        0.875rem
    );
    --progress--m-sm__measure--FontSize: var(--pf-v5-c-progress--m-sm__measure--FontSize, 0.875rem);
    --progress--m-lg__bar--Height: var(--pf-v5-c-progress--m-lg__bar--Height, 1.5rem);
}

:host(:not([hidden])) {
    display: block;
    --progress__indicator--Height: var(--progress__bar--Height);
}

[part="main"] {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto auto;
    grid-gap: var(--progress--GridGap);
    align-items: end;
}

:host([size="sm"]) {
    --progress__bar--Height: var(--progress--m-sm__bar--Height);
}

:host([size="lg"]) {
    --progress__bar--Height: var(--progress--m-lg__bar--Height);
}

:host([size="sm"]) [part="description"] {
    font-size: var(--progress--m-sm__description--FontSize);
}

:host([size="sm"]) [part="measure"] {
    font-size: var(--progress--m-sm__measure--FontSize);
}

:host([variant="inside"]) [part="indicator"] {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--progress--m-inside__indicator--MinWidth);
}

:host([variant="inside"]) [part="measure"] {
    font-size: var(--progress--m-inside__measure--FontSize);
    color: var(--progress--m-inside__measure--Color);
    text-align: center;
}

:host([variant="outside"]) [part="description"] {
    grid-column: 1/3;
}

:host([variant="outside"]) [part="measure"] {
    display: inline-block;
    font-size: var(--progress--m-outside__measure--FontSize);
}

:host([variant="outside"]) [part="bar"] {
    grid-column: 1/2;
}

:host([severity="success"]) {
    --progress__bar--before--BackgroundColor: var(--progress--m-success__bar--BackgroundColor);
    --progress__status-icon--Color: var(--progress--m-success__status-icon--Color);
    --progress--m-inside__measure--Color: var(--progress--m-success--m-inside__measure--Color);
}

:host([severity="warning"]) {
    --progress__bar--before--BackgroundColor: var(--progress--m-warning__bar--BackgroundColor);
    --progress__status-icon--Color: var(--progress--m-warning__status-icon--Color);
    --progress--m-inside__measure--Color: var(--progress--m-warning--m-inside__measure--Color);
}

:host([severity="danger"]) {
    --progress__bar--before--BackgroundColor: var(--progress--m-danger__bar--BackgroundColor);
    --progress__status-icon--Color: var(--progress--m-danger__status-icon--Color);
}

[part="status"] {
    display: flex;
    grid-row: 1/2;
    grid-column: 2/3;
    gap: var(--progress__status--Gap);
    align-items: flex-start;
    justify-content: flex-end;
    text-align: end;
    word-break: break-word;
}

[part="status-icon"] {
    color: var(--progress__status-icon--Color);
}

[part="bar"] {
    position: relative;
    grid-row: 2/3;
    grid-column: 1/3;
    align-self: center;
    height: var(--progress__bar--Height);
    background-color: var(--progress__bar--BackgroundColor);
}

[part="indicator"] {
    position: absolute;
    height: var(--progress__indicator--Height);
    background-color: var(--progress__indicator--BackgroundColor);
}

[part="bar"]::before {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: var(--progress__bar--before--BackgroundColor);
    opacity: var(--progress__bar--before--Opacity);
}
