:host {
    --pf-v5-c-switch--FontSize: var(--pf-v5-global--FontSize--md, 1rem);
    --pf-v5-c-switch__label--PaddingLeft: var(--pf-v5-global--spacer--md, 1rem);
    --pf-v5-c-switch--ColumnGap: var(--pf-v5-c-switch__label--PaddingLeft);
    --pf-v5-c-switch__toggle-icon--FontSize: calc(var(--pf-v5-c-switch--FontSize) * 0.625);
    --pf-v5-c-switch__toggle-icon--Color: var(--pf-v5-global--Color--light-100, #fff);
    --pf-v5-c-switch__toggle-icon--Left: calc(var(--pf-v5-c-switch--FontSize) * 0.375);
    --pf-v5-c-switch__toggle-icon--Offset: 0.125rem;
    --pf-v5-c-switch__input--disabled__toggle-icon--Color: var(
        --pf-v5-global--palette--black-150,
        #f5f5f5
    );
    --pf-v5-c-switch--LineHeight: var(--pf-v5-global--LineHeight--md, 1.5);
    --pf-v5-c-switch--Height: auto;
    --pf-v5-c-switch__input--checked__toggle--BackgroundColor: var(
        --pf-v5-global--primary-color--100,
        #06c
    );
    --pf-v5-c-switch__input--checked__toggle--before--TranslateX: calc(
        100% + var(--pf-v5-c-switch__toggle-icon--Offset)
    );
    --pf-v5-c-switch__input--checked__label--Color: var(--pf-v5-global--Color--dark-100, #151515);
    --pf-v5-c-switch__input--not-checked__label--Color: var(
        --pf-v5-global--disabled-color--100,
        #6a6e73
    );
    --pf-v5-c-switch__input--disabled__label--Color: var(
        --pf-v5-global--disabled-color--100,
        #6a6e73
    );
    --pf-v5-c-switch__input--disabled__toggle--BackgroundColor: var(
        --pf-v5-global--disabled-color--200,
        #d2d2d2
    );
    --pf-v5-c-switch__input--disabled__toggle--before--BackgroundColor: var(
        --pf-v5-global--palette--black-150,
        #f5f5f5
    );
    --pf-v5-c-switch__input--focus__toggle--OutlineWidth: var(--pf-v5-global--BorderWidth--md, 2px);
    --pf-v5-c-switch__input--focus__toggle--OutlineOffset: var(--pf-v5-global--spacer--sm, 0.5rem);
    --pf-v5-c-switch__input--focus__toggle--OutlineColor: var(
        --pf-v5-global--primary-color--100,
        #06c
    );
    --pf-v5-c-switch__toggle--Height: calc(
        var(--pf-v5-c-switch--FontSize) * var(--pf-v5-c-switch--LineHeight)
    );
    --pf-v5-c-switch__toggle--BackgroundColor: var(--pf-v5-global--palette--black-500, #8a8d90);
    --pf-v5-c-switch__toggle--BorderRadius: var(--pf-v5-c-switch__toggle--Height);
    --pf-v5-c-switch__toggle--before--Width: calc(
        var(--pf-v5-c-switch--FontSize) - var(--pf-v5-c-switch__toggle-icon--Offset)
    );
    --pf-v5-c-switch__toggle--before--Height: var(--pf-v5-c-switch__toggle--before--Width);
    --pf-v5-c-switch__toggle--before--Top: calc(
        (var(--pf-v5-c-switch__toggle--Height) - var(--pf-v5-c-switch__toggle--before--Height)) / 2
    );
    --pf-v5-c-switch__toggle--before--Left: var(--pf-v5-c-switch__toggle--before--Top);
    --pf-v5-c-switch__toggle--before--BackgroundColor: var(
        --pf-v5-global--BackgroundColor--100,
        #fff
    );
    --pf-v5-c-switch__toggle--before--BorderRadius: var(--pf-v5-global--BorderRadius--lg, 30em);
    --pf-v5-c-switch__toggle--before--BoxShadow: var(
        --pf-v5-global--BoxShadow--md,
        0 0.25rem 0.5rem 0rem rgba(3, 3, 3, 0.12),
        0 0 0.25rem 0 rgba(3, 3, 3, 0.06)
    );
    --pf-v5-c-switch__toggle--before--Transition: transform 0.25s ease 0s;
    --pf-v5-c-switch__toggle--Width: calc(
        var(--pf-v5-c-switch__toggle--Height) + var(--pf-v5-c-switch__toggle-icon--Offset) +
            var(--pf-v5-c-switch__toggle--before--Width)
    );
    --pf-v5-c-switch__label--Color: var(--pf-v5-global--Color--dark-100, #151515);
    position: relative;
    display: inline;
}

[part="switch"] {
    position: relative;
    grid-template-columns: auto;
    grid-auto-columns: 1fr;
    column-gap: var(--pf-v5-c-switch--ColumnGap);
    height: var(--pf-v5-c-switch--Height);
    font-size: var(--pf-v5-c-switch--FontSize);
    line-height: var(--pf-v5-c-switch--LineHeight);
    vertical-align: middle;
    cursor: pointer;
    display: grid;
}

:host([reverse]) [part="label"],
:host([reverse]) [part="toggle"] {
    grid-row: 1;
}

:host([reverse]) [part="label"] {
    grid-column: 1;
}

:host([checked]) [part="label"] {
    color: var(--pf-v5-c-switch__input--checked__label--Color);
}

:host([checked]) [part="toggle"] {
    background-color: var(--pf-v5-c-switch__input--checked__toggle--BackgroundColor);
}

:host([checked]) [part="toggle"]::before {
    transform: translateX(var(--pf-v5-c-switch__input--checked__toggle--before--TranslateX));
}

:host(:focus-visible) [part="toggle"] {
    outline: var(--pf-v5-c-switch__input--focus__toggle--OutlineWidth) solid
        var(--pf-v5-c-switch__input--focus__toggle--OutlineColor);
    outline-offset: var(--pf-v5-c-switch__input--focus__toggle--OutlineOffset);
}

:host(:disabled),
:host([disabled]) {
    cursor: not-allowed;
}

:host(:disabled) [part="label"],
:host([disabled]) [part="label"] {
    color: var(--pf-v5-c-switch__input--disabled__label--Color);
    cursor: not-allowed;
}

:host(:disabled) [part="toggle"],
:host([disabled]) [part="toggle"] {
    --pf-v5-c-switch__toggle-icon--Color: var(
        --pf-v5-c-switch__input--disabled__toggle-icon--Color
    );
    cursor: not-allowed;
    background-color: var(--pf-v5-c-switch__input--disabled__toggle--BackgroundColor);
}

:host(:disabled) [part="toggle"]::before,
:host([disabled]) [part="toggle"]::before {
    background-color: var(--pf-v5-c-switch__input--disabled__toggle--before--BackgroundColor);
}

[part="toggle"] {
    position: relative;
    display: inline-block;
    width: var(--pf-v5-c-switch__toggle--Width);
    height: var(--pf-v5-c-switch__toggle--Height);
    background-color: var(--pf-v5-c-switch__toggle--BackgroundColor);
    border-radius: var(--pf-v5-c-switch__toggle--BorderRadius);
}

[part="toggle"]::before {
    position: absolute;
    inset-block-start: var(--pf-v5-c-switch__toggle--before--Top);
    inset-inline-start: var(--pf-v5-c-switch__toggle--before--Left);
    display: block;
    width: var(--pf-v5-c-switch__toggle--before--Width);
    height: var(--pf-v5-c-switch__toggle--before--Height);
    content: "";
    background-color: var(--pf-v5-c-switch__toggle--before--BackgroundColor);
    border-radius: var(--pf-v5-c-switch__toggle--before--BorderRadius);
    box-shadow: var(--pf-v5-c-switch__toggle--before--BoxShadow);
    transition: var(--pf-v5-c-switch__toggle--before--Transition);
}

[part="toggle-icon"] {
    position: absolute;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-start: var(--pf-v5-c-switch__toggle-icon--Left);
    display: flex;
    align-items: center;
    font-size: var(--pf-v5-c-switch__toggle-icon--FontSize);
    color: var(--pf-v5-c-switch__toggle-icon--Color);
}

[part="label"] {
    display: inline-block;
    grid-column: 2;
    color: var(--pf-v5-c-switch__label--Color);
    vertical-align: top;
}

:host([theme="dark"]) {
    --pf-v5-c-switch__toggle-icon--Color: var(--pf-v5-global--BackgroundColor--100, #fff);
    --pf-v5-c-switch__input--not-checked__label--Color: var(--pf-v5-global--Color--100, #151515);
    --pf-v5-c-switch__input--disabled__toggle--before--BackgroundColor: var(
        --pf-v5-global--disabled-color--100,
        #6a6e73
    );
    --pf-v5-c-switch__toggle--before--BoxShadow: none;
    --pf-v5-c-switch__input--disabled__toggle-icon--Color: var(
        --pf-v5-global--disabled-color--100,
        #6a6e73
    );
}
