:host {
    --brand--Height-on-2xl: var(--ak-v1-c-brand--Height-on-2xl);
    --brand--Height-on-xl: var(--ak-v1-c-brand--Height-on-xl);
    --brand--Height-on-lg: var(--ak-v1-c-brand--Height-on-lg);
    --brand--Height-on-md: var(--ak-v1-c-brand--Height-on-md);
    --brand--Height-on-sm: var(--ak-v1-c-brand--Height-on-sm);
    --brand--Width-on-2xl: var(--ak-v1-c-brand--Width-on-2xl);
    --brand--Width-on-xl: var(--ak-v1-c-brand--Width-on-xl);
    --brand--Width-on-lg: var(--ak-v1-c-brand--Width-on-lg);
    --brand--Width-on-md: var(--ak-v1-c-brand--Width-on-md);
    --brand--Width-on-sm: var(--ak-v1-c-brand--Width-on-sm);

    /* "base" is the variable that controls the look and feel of the component itself. It's the variable
     * we *actually* use for controlling the component and its internal image. */

    --brand--Width--base: var(--brand--Width);
    --brand--Height--base: var(--brand--Height);

    --brand--Width: var(--ak-v1-c-brand--Width, auto);
    --brand--Height: var(--ak-v1-c-brand--Height, auto);
}

:host([picture]) {
    display: flex;
}

:host {
    width: var(--brand--Width--base);
    height: var(--brand--Height--base);
}

[part="brand"] {
    position: relative;
    object-fit: contain;
    width: var(--brand--Width--base);
    height: var(--brand--Height--base);
}

@media (min-width: 576px) {
    :host {
        --brand--Width--base: var(--brand--Width-on-sm, var(--brand--Width));
    }
    --brand--Height--base: var(--brand--Height-on-sm, var(--brand--Height));
}

@media (min-width: 768px) {
    :host {
        --brand--Width--base: var(
            --brand--Width-on-md,
            var(--brand--Width-on-sm, var(--brand--Width))
        );
        --brand--Height--base: var(
            --brand--Height-on-md,
            var(--brand--Height-on-sm, var(--brand--Height))
        );
    }
}

@media (min-width: 992px) {
    :host {
        --brand--Width--base: var(
            --brand--Width-on-lg,
            var(--brand--Width-on-md, var(--brand--Width-on-sm, var(--brand--Width)))
        );
        --brand--Height--base: var(
            --brand--Height-on-lg,
            var(--brand--Height-on-md, var(--brand--Height-on-sm, var(--brand--Height)))
        );
    }
}

@media (min-width: 1200px) {
    :host {
        --brand--Width--base: var(
            --brand--Width-on-xl,
            var(
                --brand--Width-on-lg,
                var(--brand--Width-on-md, var(--brand--Width-on-sm, var(--brand--Width)))
            )
        );
        --brand--Height--base: var(
            --brand--Height-on-xl,
            var(
                --brand--Height-on-lg,
                var(--brand--Height-on-md, var(--brand--Height-on-sm, var(--brand--Height)))
            )
        );
    }
}

@media (min-width: 1450px) {
    :host {
        --brand--Width--base: var(
            --brand--Width-on-2xl,
            var(
                --brand--Width-on-xl,
                var(
                    --brand--Width-on-lg,
                    var(--brand--Width-on-md, var(--brand--Width-on-sm, var(--brand--Width)))
                )
            )
        );
        --brand--Height--base: var(
            --brand--Height-on-2xl,
            var(
                --brand--Height-on-xl,
                var(
                    --brand--Height-on-lg,
                    var(--brand--Height-on-md, var(--brand--Height-on-sm, var(--brand--Height)))
                )
            )
        );
    }
}
