:root {
    --pf-v5-c-hint--GridRowGap: var(--pf-v5-global--spacer--md);
    --pf-v5-c-hint--PaddingTop: var(--pf-v5-global--spacer--lg);
    --pf-v5-c-hint--PaddingRight: var(--pf-v5-global--spacer--lg);
    --pf-v5-c-hint--PaddingBottom: var(--pf-v5-global--spacer--lg);
    --pf-v5-c-hint--PaddingLeft: var(--pf-v5-global--spacer--lg);
    --pf-v5-c-hint--BackgroundColor: var(--pf-v5-global--palette--blue-50);
    --pf-v5-c-hint--BorderColor: var(--pf-v5-global--palette--blue-100);
    --pf-v5-c-hint--BorderWidth: var(--pf-v5-global--BorderWidth--sm);
    --pf-v5-c-hint--BoxShadow: var(--pf-v5-global--BoxShadow--sm);
    --pf-v5-c-hint--Color: var(--pf-v5-global--Color--100);
    --pf-v5-c-hint__title--FontSize: var(--pf-v5-global--FontSize--lg);
    --pf-v5-c-hint__body--FontSize: var(--pf-v5-global--FontSize--md);
    --pf-v5-c-hint__footer--child--MarginRight: var(--pf-v5-global--spacer--md);
    --pf-v5-c-hint__actions--MarginLeft: var(--pf-v5-global--spacer--2xl);
    --pf-v5-c-hint__actions--c-dropdown--MarginTop: var(
        calc(--pf-v5-global--spacer--form-element * -1)
    );
}
