:host {
    --skip-to-content--Color: var(--ak-v1-c-skip-to-content--Color, #fafafa);
    --skip-to-content--BackgroundColor: var(--ak-v1-c-skip-to-content--BackgroundColor, #fd4b2d);
    --skip-to-content--padding: var(--ak-v1-c-skip-to-content--padding, 1rem);
    --skip-to-content--BottomRight--BorderRadius: var(
        --ak-v1-c-skip-to-content--BottomRight--BorderRadius,
        3px
    );
    --skip-to-content-_FallbackFontFamily:
        "RedHatText", "Overpass", overpass, helvetica, arial, sans-serif;
    --skip-to-content--FontFamily: var(
        --ak-v1-c-skip-to-content--FontFamily,
        var(--ak-v1-c-skip-to-content-_FallbackFontFamily)
    );
}

[part="skip-to-content"]:not(:focus) {
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
}

[part="skip-to-content"] {
    position: absolute;
    z-index: 99999;
    color: var(--skip-to-content--Color);
    background-color: var(--skip-to-content--BackgroundColor);
    font-family: var(--skip-to-content--FontFamily);
    padding: var(--skip-to-content--padding);
    border-bottom-right-radius: var(--skip-to-content--BottomRight--BorderRadius);
}
