:root {
    --pf-v5-c-button--PaddingTop: var(--pf-v5-global--spacer--form-element);
    --pf-v5-c-button--PaddingRight: var(--pf-v5-global--spacer--md);
    --pf-v5-c-button--PaddingBottom: var(--pf-v5-global--spacer--form-element);
    --pf-v5-c-button--PaddingLeft: var(--pf-v5-global--spacer--md);
    --pf-v5-c-button--LineHeight: var(--pf-v5-global--LineHeight--md);
    --pf-v5-c-button--FontWeight: var(--pf-v5-global--FontWeight--normal);
    --pf-v5-c-button--FontSize: var(--pf-v5-global--FontSize--md);
    --pf-v5-c-button--BackgroundColor: transparent;
    --pf-v5-c-button--BorderRadius: var(--pf-v5-global--BorderRadius--sm);
    --pf-v5-c-button--after--BorderRadius: var(--pf-v5-global--BorderRadius--sm);
    --pf-v5-c-button--after--BorderColor: transparent;
    --pf-v5-c-button--after--BorderWidth: var(--pf-v5-global--BorderWidth--sm);
    --pf-v5-c-button--hover--after--BorderWidth: var(--pf-v5-global--BorderWidth--md);
    --pf-v5-c-button--focus--after--BorderWidth: var(--pf-v5-global--BorderWidth--md);
    --pf-v5-c-button--active--after--BorderWidth: var(--pf-v5-global--BorderWidth--md);
    --pf-v5-c-button--disabled--Color: var(--pf-v5-global--disabled-color--100);
    --pf-v5-c-button--disabled--BackgroundColor: var(--pf-v5-global--disabled-color--200);
    --pf-v5-c-button--disabled--after--BorderColor: transparent;
    --pf-v5-c-button--m-primary--BackgroundColor: var(--pf-v5-global--primary-color--100);
    --pf-v5-c-button--m-primary--Color: var(--pf-v5-global--Color--light-100);
    --pf-v5-c-button--m-primary--hover--BackgroundColor: var(--pf-v5-global--primary-color--200);
    --pf-v5-c-button--m-primary--hover--Color: var(--pf-v5-global--Color--light-100);
    --pf-v5-c-button--m-primary--focus--BackgroundColor: var(--pf-v5-global--primary-color--200);
    --pf-v5-c-button--m-primary--focus--Color: var(--pf-v5-global--Color--light-100);
    --pf-v5-c-button--m-primary--active--BackgroundColor: var(--pf-v5-global--primary-color--200);
    --pf-v5-c-button--m-primary--active--Color: var(--pf-v5-global--Color--light-100);
    --pf-v5-c-button--m-secondary--BackgroundColor: transparent;
    --pf-v5-c-button--m-secondary--after--BorderColor: var(--pf-v5-global--primary-color--100);
    --pf-v5-c-button--m-secondary--Color: var(--pf-v5-global--primary-color--100);
    --pf-v5-c-button--m-secondary--hover--BackgroundColor: transparent;
    --pf-v5-c-button--m-secondary--hover--after--BorderColor: var(
        --pf-v5-global--primary-color--100
    );
    --pf-v5-c-button--m-secondary--hover--Color: var(--pf-v5-global--primary-color--100);
    --pf-v5-c-button--m-secondary--focus--BackgroundColor: transparent;
    --pf-v5-c-button--m-secondary--focus--after--BorderColor: var(
        --pf-v5-global--primary-color--100
    );
    --pf-v5-c-button--m-secondary--focus--Color: var(--pf-v5-global--primary-color--100);
    --pf-v5-c-button--m-secondary--active--BackgroundColor: transparent;
    --pf-v5-c-button--m-secondary--active--after--BorderColor: var(
        --pf-v5-global--primary-color--100
    );
    --pf-v5-c-button--m-secondary--active--Color: var(--pf-v5-global--primary-color--100);
    --pf-v5-c-button--m-secondary--m-danger--BackgroundColor: transparent;
    --pf-v5-c-button--m-secondary--m-danger--Color: var(--pf-v5-global--danger-color--100);
    --pf-v5-c-button--m-secondary--m-danger--after--BorderColor: var(
        --pf-v5-global--danger-color--100
    );
    --pf-v5-c-button--m-secondary--m-danger--hover--BackgroundColor: transparent;
    --pf-v5-c-button--m-secondary--m-danger--hover--Color: var(--pf-v5-global--danger-color--200);
    --pf-v5-c-button--m-secondary--m-danger--hover--after--BorderColor: var(
        --pf-v5-global--danger-color--100
    );
    --pf-v5-c-button--m-secondary--m-danger--focus--BackgroundColor: transparent;
    --pf-v5-c-button--m-secondary--m-danger--focus--Color: var(--pf-v5-global--danger-color--200);
    --pf-v5-c-button--m-secondary--m-danger--focus--after--BorderColor: var(
        --pf-v5-global--danger-color--100
    );
    --pf-v5-c-button--m-secondary--m-danger--active--BackgroundColor: transparent;
    --pf-v5-c-button--m-secondary--m-danger--active--Color: var(--pf-v5-global--danger-color--200);
    --pf-v5-c-button--m-secondary--m-danger--active--after--BorderColor: var(
        --pf-v5-global--danger-color--100
    );
    --pf-v5-c-button--m-tertiary--BackgroundColor: transparent;
    --pf-v5-c-button--m-tertiary--after--BorderColor: var(--pf-v5-global--Color--100);
    --pf-v5-c-button--m-tertiary--Color: var(--pf-v5-global--Color--100);
    --pf-v5-c-button--m-tertiary--hover--BackgroundColor: transparent;
    --pf-v5-c-button--m-tertiary--hover--after--BorderColor: var(--pf-v5-global--Color--100);
    --pf-v5-c-button--m-tertiary--hover--Color: var(--pf-v5-global--Color--100);
    --pf-v5-c-button--m-tertiary--focus--BackgroundColor: transparent;
    --pf-v5-c-button--m-tertiary--focus--after--BorderColor: var(--pf-v5-global--Color--100);
    --pf-v5-c-button--m-tertiary--focus--Color: var(--pf-v5-global--Color--100);
    --pf-v5-c-button--m-tertiary--active--BackgroundColor: transparent;
    --pf-v5-c-button--m-tertiary--active--after--BorderColor: var(--pf-v5-global--Color--100);
    --pf-v5-c-button--m-tertiary--active--Color: var(--pf-v5-global--Color--100);
    --pf-v5-c-button--m-warning--BackgroundColor: var(--pf-v5-global--warning-color--100);
    --pf-v5-c-button--m-warning--Color: var(--pf-v5-global--Color--dark-100);
    --pf-v5-c-button--m-warning--hover--BackgroundColor: var(--pf-v5-global--palette--gold-500);
    --pf-v5-c-button--m-warning--hover--Color: var(--pf-v5-global--Color--dark-100);
    --pf-v5-c-button--m-warning--focus--BackgroundColor: var(--pf-v5-global--palette--gold-500);
    --pf-v5-c-button--m-warning--focus--Color: var(--pf-v5-global--Color--dark-100);
    --pf-v5-c-button--m-warning--active--BackgroundColor: var(--pf-v5-global--palette--gold-500);
    --pf-v5-c-button--m-warning--active--Color: var(--pf-v5-global--Color--dark-100);
    --pf-v5-c-button--m-danger--BackgroundColor: var(--pf-v5-global--danger-color--100);
    --pf-v5-c-button--m-danger--Color: var(--pf-v5-global--Color--light-100);
    --pf-v5-c-button--m-danger--hover--BackgroundColor: var(--pf-v5-global--danger-color--200);
    --pf-v5-c-button--m-danger--hover--Color: var(--pf-v5-global--Color--light-100);
    --pf-v5-c-button--m-danger--focus--BackgroundColor: var(--pf-v5-global--danger-color--200);
    --pf-v5-c-button--m-danger--focus--Color: var(--pf-v5-global--Color--light-100);
    --pf-v5-c-button--m-danger--active--BackgroundColor: var(--pf-v5-global--danger-color--200);
    --pf-v5-c-button--m-danger--active--Color: var(--pf-v5-global--Color--light-100);
    --pf-v5-c-button--m-link--BackgroundColor: transparent;
    --pf-v5-c-button--m-link--Color: var(--pf-v5-global--link--Color);
    --pf-v5-c-button--m-link--hover--BackgroundColor: transparent;
    --pf-v5-c-button--m-link--hover--Color: var(--pf-v5-global--link--Color--hover);
    --pf-v5-c-button--m-link--focus--BackgroundColor: transparent;
    --pf-v5-c-button--m-link--focus--Color: var(--pf-v5-global--link--Color--hover);
    --pf-v5-c-button--m-link--active--BackgroundColor: transparent;
    --pf-v5-c-button--m-link--active--Color: var(--pf-v5-global--link--Color--hover);
    --pf-v5-c-button--m-link--disabled--BackgroundColor: transparent;
    --pf-v5-c-button--m-link--disabled--Color: var(--pf-v5-global--disabled-color--100);
    --pf-v5-c-button--m-link--m-inline--FontSize: inherit;
    --pf-v5-c-button--m-link--m-inline--hover--TextDecoration: var(
        --pf-v5-global--link--TextDecoration--hover
    );
    --pf-v5-c-button--m-link--m-inline--hover--Color: var(--pf-v5-global--link--Color--hover);
    --pf-v5-c-button--m-link--m-inline--PaddingTop: 0;
    --pf-v5-c-button--m-link--m-inline--PaddingRight: 0;
    --pf-v5-c-button--m-link--m-inline--PaddingBottom: 0;
    --pf-v5-c-button--m-link--m-inline--PaddingLeft: 0;
    --pf-v5-c-button--m-link--m-inline__progress--Left: var(--pf-v5-global--spacer--xs);
    --pf-v5-c-button--m-link--m-inline--m-in-progress--PaddingLeft: var(
        calc(--pf-v5-c-button--m-link--m-inline__progress--Left + 1rem + --pf-v5-global--spacer--sm)
    );
    --pf-v5-c-button--m-link--m-danger--BackgroundColor: transparent;
    --pf-v5-c-button--m-link--m-danger--Color: var(--pf-v5-global--danger-color--100);
    --pf-v5-c-button--m-link--m-danger--hover--BackgroundColor: transparent;
    --pf-v5-c-button--m-link--m-danger--hover--Color: var(--pf-v5-global--danger-color--200);
    --pf-v5-c-button--m-link--m-danger--focus--BackgroundColor: transparent;
    --pf-v5-c-button--m-link--m-danger--focus--Color: var(--pf-v5-global--danger-color--200);
    --pf-v5-c-button--m-link--m-danger--active--BackgroundColor: transparent;
    --pf-v5-c-button--m-link--m-danger--active--Color: var(--pf-v5-global--danger-color--200);
    --pf-v5-c-button--m-plain--BackgroundColor: transparent;
    --pf-v5-c-button--m-plain--Color: var(--pf-v5-global--Color--200);
    --pf-v5-c-button--m-plain--hover--BackgroundColor: transparent;
    --pf-v5-c-button--m-plain--hover--Color: var(--pf-v5-global--Color--100);
    --pf-v5-c-button--m-plain--focus--BackgroundColor: transparent;
    --pf-v5-c-button--m-plain--focus--Color: var(--pf-v5-global--Color--100);
    --pf-v5-c-button--m-plain--active--BackgroundColor: transparent;
    --pf-v5-c-button--m-plain--active--Color: var(--pf-v5-global--Color--100);
    --pf-v5-c-button--m-plain--disabled--Color: var(--pf-v5-global--disabled-color--200);
    --pf-v5-c-button--m-plain--disabled--BackgroundColor: transparent;
    --pf-v5-c-button--m-control--BackgroundColor: var(--pf-v5-global--BackgroundColor--100);
    --pf-v5-c-button--m-control--Color: var(--pf-v5-global--Color--100);
    --pf-v5-c-button--m-control--BorderRadius: 0;
    --pf-v5-c-button--m-control--after--BorderWidth: var(--pf-v5-global--BorderWidth--sm);
    --pf-v5-c-button--m-control--after--BorderTopColor: var(--pf-v5-global--BorderColor--300);
    --pf-v5-c-button--m-control--after--BorderRightColor: var(--pf-v5-global--BorderColor--300);
    --pf-v5-c-button--m-control--after--BorderBottomColor: var(--pf-v5-global--BorderColor--200);
    --pf-v5-c-button--m-control--after--BorderLeftColor: var(--pf-v5-global--BorderColor--300);
    --pf-v5-c-button--m-control--disabled--BackgroundColor: var(
        --pf-v5-global--disabled-color--300
    );
    --pf-v5-c-button--m-control--hover--BackgroundColor: var(--pf-v5-global--BackgroundColor--100);
    --pf-v5-c-button--m-control--hover--Color: var(--pf-v5-global--Color--100);
    --pf-v5-c-button--m-control--hover--after--BorderBottomWidth: var(
        --pf-v5-global--BorderWidth--md
    );
    --pf-v5-c-button--m-control--hover--after--BorderBottomColor: var(
        --pf-v5-global--active-color--100
    );
    --pf-v5-c-button--m-control--active--BackgroundColor: var(--pf-v5-global--BackgroundColor--100);
    --pf-v5-c-button--m-control--active--Color: var(--pf-v5-global--Color--100);
    --pf-v5-c-button--m-control--active--after--BorderBottomWidth: var(
        --pf-v5-global--BorderWidth--md
    );
    --pf-v5-c-button--m-control--active--after--BorderBottomColor: var(
        --pf-v5-global--active-color--100
    );
    --pf-v5-c-button--m-control--focus--BackgroundColor: var(--pf-v5-global--BackgroundColor--100);
    --pf-v5-c-button--m-control--focus--Color: var(--pf-v5-global--Color--100);
    --pf-v5-c-button--m-control--focus--after--BorderBottomWidth: var(
        --pf-v5-global--BorderWidth--md
    );
    --pf-v5-c-button--m-control--focus--after--BorderBottomColor: var(
        --pf-v5-global--active-color--100
    );
    --pf-v5-c-button--m-control--m-expanded--BackgroundColor: var(
        --pf-v5-global--BackgroundColor--100
    );
    --pf-v5-c-button--m-control--m-expanded--Color: var(--pf-v5-global--Color--100);
    --pf-v5-c-button--m-control--m-expanded--after--BorderBottomWidth: var(
        --pf-v5-global--BorderWidth--md
    );
    --pf-v5-c-button--m-control--m-expanded--after--BorderBottomColor: var(
        --pf-v5-global--active-color--100
    );
    --pf-v5-c-button--m-small--FontSize: var(--pf-v5-global--FontSize--sm);
    --pf-v5-c-button--m-display-lg--PaddingTop: var(--pf-v5-global--spacer--md);
    --pf-v5-c-button--m-display-lg--PaddingRight: var(--pf-v5-global--spacer--xl);
    --pf-v5-c-button--m-display-lg--PaddingBottom: var(--pf-v5-global--spacer--md);
    --pf-v5-c-button--m-display-lg--PaddingLeft: var(--pf-v5-global--spacer--xl);
    --pf-v5-c-button--m-display-lg--FontWeight: var(--pf-v5-global--FontWeight--bold);
    --pf-v5-c-button--m-link--m-display-lg--FontSize: var(--pf-v5-global--FontSize--lg);
    --pf-v5-c-button__icon--m-start--MarginRight: var(--pf-v5-global--spacer--xs);
    --pf-v5-c-button__icon--m-end--MarginLeft: var(--pf-v5-global--spacer--xs);
    --pf-v5-c-button__progress--width: var(
        calc(--pf-v5-global--icon--FontSize--md + --pf-v5-global--spacer--sm)
    );
    --pf-v5-c-button__progress--Opacity: 0;
    --pf-v5-c-button__progress--TranslateY: -50%;
    --pf-v5-c-button__progress--TranslateX: 0;
    --pf-v5-c-button__progress--Top: 50%;
    --pf-v5-c-button__progress--Left: var(--pf-v5-global--spacer--md);
    --pf-v5-c-button--m-progress--TransitionProperty: padding;
    --pf-v5-c-button--m-progress--TransitionDuration: var(--pf-v5-global--TransitionDuration);
    --pf-v5-c-button--m-progress--PaddingRight: var(
        calc(--pf-v5-global--spacer--md + --pf-v5-c-button__progress--width / 2)
    );
    --pf-v5-c-button--m-progress--PaddingLeft: var(
        calc(--pf-v5-global--spacer--md + --pf-v5-c-button__progress--width / 2)
    );
    --pf-v5-c-button--m-in-progress--PaddingRight: var(--pf-v5-global--spacer--md);
    --pf-v5-c-button--m-in-progress--PaddingLeft: var(
        calc(--pf-v5-global--spacer--md + --pf-v5-c-button__progress--width)
    );
    --pf-v5-c-button--m-in-progress--m-plain--Color: var(--pf-v5-global--primary-color--100);
    --pf-v5-c-button--m-in-progress--m-plain__progress--Left: 50%;
    --pf-v5-c-button--m-in-progress--m-plain__progress--TranslateX: -50%;
    --pf-v5-c-button__count--MarginLeft: var(--pf-v5-global--spacer--sm);
    --pf-v5-c-button--disabled__c-badge--Color: var(--pf-v5-global--Color--dark-100);
    --pf-v5-c-button--disabled__c-badge--BackgroundColor: var(--pf-v5-global--BackgroundColor--200);
    --pf-v5-c-button--m-primary__c-badge--BorderColor: var(--pf-v5-global--BorderColor--300);
    --pf-v5-c-button--m-primary__c-badge--BorderWidth: var(--pf-v5-global--BorderWidth--sm);
}
