:host {
    --stack--m-gutter--gap--xs: var(--pf-v5-l-stack--m-gutter--gap--xs, 0.5rem);
    --stack--m-gutter--gap--sm: var(--pf-v5-l-stack--m-gutter--gap--sm, 0.5rem);
    --stack--m-gutter--gap--md: var(--pf-v5-l-stack--m-gutter--gap--md, 1rem);
    --stack--m-gutter--gap--lg: var(--pf-v5-l-stack--m-gutter--gap--lg, 1.5rem);
    --stack--m-gutter--gap--xl: var(--pf-v5-l-stack--m-gutter--gap--xl, 2rem);
    --stack--gutter: var(--pf-v5-l-stack--gutter: none);
    --stack--align: var(--pf-v5-l-stack--align, none);
    padding: 0;
    margin: 0;
}

[part="stack-item"] {
    padding: 0;
    margin: 0;
}

:host([wrap]) [part="stack"] {
    flex-wrap: wrap;
}

:host([gutter="xs"]) {
    --stack--gutter: var(--stack--m-gutter--gap--xs);
}

:host([gutter="sm"]) {
    --stack--gutter: var(--stack--m-gutter--gap--sm);
}

:host([gutter="md"]) {
    --stack--gutter: var(--stack--m-gutter--gap--md);
}

:host([gutter="lg"]) {
    --stack--gutter: var(--stack--m-gutter--gap--lg);
}

:host([gutter="xl"]) {
    --stack--gutter: var(--stack--m-gutter--gap--xl);
}

:host([align="start"]) {
    --stack--align: flex-start;
}

:host([align="center"]) {
    --stack--align: center;
}

:host([align="end"]) {
    --stack--align: flex-end;
}

:host([align="baseline"]) {
    --stack--align: baseline;
}

[part="stack"] {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--stack--gutter);
    align-items: var(--stack--align);
    padding: 0;
    margin: 0;
}

[part*="fill"] {
    flex-grow: 1;
}
