:root {
    --pf-v5-l-stack--m-gutter--gap--xs: var(--pf-v5-global--spacer--xs);
    --pf-v5-l-stack--m-gutter--gap--sm: var(--pf-v5-global--spacer--sm);
    --pf-v5-l-stack--m-gutter--gap--md: var(--pf-v5-global--spacer--md);
    --pf-v5-l-stack--m-gutter--gap--lg: var(--pf-v5-global--spacer--lg);
    --pf-v5-l-stack--m-gutter--gap--xl: var(--pf-v5-global--spacer--xl);
    --pf-v5-l-stack--gutter: none;
    --pf-v5-l-stack--align: none;
}
