/* The Patternfly 5 Palette. */

/* The Patternfly 5 Global Variables collection */
@import "./base/palette";
@import "./base/theme";
@import "./base/reset";
@import "./base/fonts";
@import "./base/misc";
