/* The specific parts of Patternfly we need to support our base.
 * This compiles to about 700 lines:
 *
 * - global CSS Custom properties (237 lines)
 * - Alternate properties names when dark mode is active (90 lines)
 * - Font declarations (115 lines)
 * - The CSS Reset (119 lines)
 */
@import "pkg:@patternfly/patternfly/sass-utilities/div";
@import "pkg:@patternfly/patternfly/sass-utilities/functions";
@import "pkg:@patternfly/patternfly/sass-utilities/colors";
@import "pkg:@patternfly/patternfly/sass-utilities/scss-variables";
@import "pkg:@patternfly/patternfly/sass-utilities/mixins";
@import "pkg:@patternfly/patternfly/sass-utilities/component-namespaces";
@import "pkg:@patternfly/patternfly/sass-utilities/layout-namespaces";
@import "pkg:@patternfly/patternfly/sass-utilities/placeholders";
@import "pkg:@patternfly/patternfly/base/variables";
@import "pkg:@patternfly/patternfly/base/base";
@import "pkg:@patternfly/patternfly/base/themes";

@import "./base/fonts";
@import "./base/palette";
@import "./components/all-components";

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ak-theme--BackgroundColor--primary: var(--ak-palette--Black-200);
    --ak-theme--TextColor--primary: var(--ak-palette--Black--900);
    --ak-theme--FontFamily--text: "RedHatText", helvetica, arial, sans-serif;
    --ak-theme--FontSize--md: 1rem;
    --ak-theme--FontWeight--normal: 400;
    --ak-theme--LineHeight--md: 1.5;
}

html[theme="dark"] {
    --ak-theme--BackgroundColor--primary: var(--ak-palette--Black-900);
    --ak-theme--TextColor--primary: var(--ak-palette--Black--200);
}

:where(body) {
    font-family: var(--ak-theme--FontFamily--text);
    font-size: var(--ak-theme--FontSize--md);
    font-weight: var(--ak-theme--FontWeight--normal);
    line-height: var(--ak-theme--LineHeight--md);
    color: var(--ak-theme--TextColor--primary);
    background-color: var(--ak-theme--BackgroundColor--primary);
    height: 100%;
}
