:host {
    --content-header--Gap: var(--ak-v1-c-content-header--Gap, 0.375rem);
    --content-header__icon--Display: var(--ak-v1-c-content-header__icon--Display, none);
    --content-header__subtitle--Display: var(--ak-v1-c-content-header__subtitle--Display, none);
    --content-header__subtitle--Display-Webkit: var(
        --ak-v1-c-content-header__subtitle--Display-Webkit,
        none
    );
    --content-header__subtitle--LineClamp: var(--ak-v1-c-content-header__subtitle--LineClamp, 2);
    --content-header--title--FontSize: var(--pf-v5-c-content-header--title--FontSize, 1.5rem);
    --content-header--title--FontWeight: var(--pf-v5-c-content-header--title--FontWeight, 400);
    --content-header--title--LineHeight: var(--pf-v5-c-content-header--title--LineHeight, 1);
    --content-header--subtitle--FontSize: var(--pf-v5-c-content-header--subtitle--FontSize, 1rem);
    --content-header--subtitle--FontWeight: var(
        --pf-v5-c-content-header--subtitle--FontWeight,
        400
    );
    --content-header--subtitle--LineHeight: var(
        --pf-v5-c-content-header--subtitle--LineHeight,
        1.3
    );
    --content-header__icon--Gap: var(--ak-v1-c-content-header__icon--Gap, 0.75rem);
}

:host {
    container-type: inline-size;
    container-name: header;
    overflow: hidden;
}

/* The main of the work */
[part="content-header"] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--content-header--Gap);
}

[part="title-block"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--content-header__icon--Gap);
}

[part="icon"] {
    display: var(--content-header__icon--Display);
}

[part="icon-content"] {
    padding: 0;
}

[part="subtitle"] {
    display: var(--content-header__subtitle--Display);
    display: var(--content-header__subtitle--Display-Webkit);
    font-size: var(--content-header--subtitle--FontSize);
    font-weight: var(--content-header--subtitle--FontWeight);
    line-height: var(--content-header--subtitle--LineHeight);
    line-clamp: var(--content-header__subtitle--LineClamp);
    -webkit-line-clamp: var(--content-header__subtitle--LineClamp);
    box-orient: vertical;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-wrap-style: balance;
}

[part="title"] {
    font-size: var(--content-header--title--FontSize);
    font-weight: var(--content-header--title--FontWeight);
    line-height: var(--content-header--title--LineHeight);
}

@container header (min-width: 360px) {
    [part="content-header"] {
        --content-header__icon--Display: block;
        --content-header__subtitle--Display: box;
        --content-header__subtitle--Display-Webkit: -webkit-box;
    }
}
