:host {
    --pf-v5-c-icon--Width: 1em;
    --pf-v5-c-icon--Height: 1em;
    --pf-v5-c-icon--m-sm--Width: var(--pf-v5-global--icon--FontSize--sm, 0.75rem);
    --pf-v5-c-icon--m-sm--Height: var(--pf-v5-global--icon--FontSize--sm, 0.75rem);
    --pf-v5-c-icon--m-md--Width: var(--pf-v5-global--icon--FontSize--md, 1rem);
    --pf-v5-c-icon--m-md--Height: var(--pf-v5-global--icon--FontSize--md, 1rem);
    --pf-v5-c-icon--m-lg--Width: var(--pf-v5-global--icon--FontSize--lg, 1.5rem);
    --pf-v5-c-icon--m-lg--Height: var(--pf-v5-global--icon--FontSize--lg, 1.5rem);
    --pf-v5-c-icon--m-xl--Width: var(--pf-v5-global--icon--FontSize--xl, 3.375rem);
    --pf-v5-c-icon--m-xl--Height: var(--pf-v5-global--icon--FontSize--xl, 3.375rem);
    --pf-v5-c-icon--m-inline--Width: 1em;
    --pf-v5-c-icon--m-inline--Height: 1em;
    --pf-v5-c-icon__content--svg--VerticalAlign: -0.125em;
    --pf-v5-c-icon__content--Color: initial;
    --pf-v5-c-icon__content--m-danger--Color: var(--pf-v5-global--danger-color--100, #c9190b);
    --pf-v5-c-icon__content--m-warning--Color: var(--pf-v5-global--warning-color--100, #f0ab00);
    --pf-v5-c-icon__content--m-success--Color: var(--pf-v5-global--success-color--100, #3e8635);
    --pf-v5-c-icon__content--m-info--Color: var(--pf-v5-global--info-color--100, #2b9af3);
    --pf-v5-c-icon__content--m-custom--Color: var(--pf-v5-global--custom-color--100, #73c5c5);
    --pf-v5-c-icon--m-inline__content--Color: initial;
    --pf-v5-c-icon__content--FontSize: 1em;
    --pf-v5-c-icon--m-sm__content--FontSize: var(--pf-v5-global--icon--FontSize--sm, 0.75rem);
    --pf-v5-c-icon--m-md__content--FontSize: var(--pf-v5-global--icon--FontSize--md, 1rem);
    --pf-v5-c-icon--m-lg__content--FontSize: var(--pf-v5-global--icon--FontSize--lg, 1.5rem);
    --pf-v5-c-icon--m-xl__content--FontSize: var(--pf-v5-global--icon--FontSize--xl, 3.375rem);
    --pf-v5-c-icon--m-inline__content--FontSize: 1em;
    --fa-width: auto;
}

:host {
    position: relative;
    align-items: center;
    justify-content: center;
    display: inline;
    line-height: 1;
}

:host([variant="danger"]) {
    --pf-v5-c-icon__content--Color: var(--pf-v5-c-icon__content--m-danger--Color);
}

:host([variant="warning"]) {
    --pf-v5-c-icon__content--Color: var(--pf-v5-c-icon__content--m-warning--Color);
}

:host([variant="success"]) {
    --pf-v5-c-icon__content--Color: var(--pf-v5-c-icon__content--m-success--Color);
}

:host([variant="info"]) {
    --pf-v5-c-icon__content--Color: var(--pf-v5-c-icon__content--m-info--Color);
}

:host([variant="custom"]) {
    --pf-v5-c-icon__content--Color: var(--pf-v5-c-icon__content--m-custom--Color);
}

[part="content"] {
    font-size: var(--pf-v5-c-icon__content--FontSize);
    align-items: center;
    justify-content: center;
    position: relative;
    width: var(--pf-v5-c-icon--Width);
    height: var(--pf-v5-c-icon--Height);
}

[part="icon"] {
    color: var(--pf-v5-c-icon__content--Color, inherit);
    opacity: var(--pf-v5-c-icon__content--Opacity, 1);
    position: relative;
    width: var(--pf-v5-c-icon--Width);
    height: var(--pf-v5-c-icon--Height);
}

:host([size="sm"]) {
    --pf-v5-c-icon--Width: var(--pf-v5-c-icon--m-sm--Width);
    --pf-v5-c-icon--Height: var(--pf-v5-c-icon--m-sm--Height);
    --pf-v5-c-icon__content--FontSize: var(--pf-v5-c-icon--m-sm__content--FontSize);
}

:host([size="md"]) {
    --pf-v5-c-icon--Width: var(--pf-v5-c-icon--m-md--Width);
    --pf-v5-c-icon--Height: var(--pf-v5-c-icon--m-md--Height);
    --pf-v5-c-icon__content--FontSize: var(--pf-v5-c-icon--m-md__content--FontSize);
}

:host([size="lg"]) {
    --pf-v5-c-icon--Width: var(--pf-v5-c-icon--m-lg--Width);
    --pf-v5-c-icon--Height: var(--pf-v5-c-icon--m-lg--Height);
    --pf-v5-c-icon__content--FontSize: var(--pf-v5-c-icon--m-lg__content--FontSize);
}

:host([size="xl"]) {
    --pf-v5-c-icon--Width: var(--pf-v5-c-icon--m-xl--Width);
    --pf-v5-c-icon--Height: var(--pf-v5-c-icon--m-xl--Height);
    --pf-v5-c-icon__content--FontSize: var(--pf-v5-c-icon--m-xl__content--FontSize);
}

.fa, .fas {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: var(--pf-v5-c-icon--Width);
    height: var(--pf-v5-c-icon--Height);
    
}

.pf-icon {
    display: inline-block;
  font-family: "pficon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
    width: var(--pf-v5-c-icon--Width);
    height: var(--pf-v5-c-icon--Height);
}
