:host {
    --badge--BorderRadius: var(--pf-v5-c-badge--BorderRadius, 30em);
    --badge--FontSize: var(--pf-v5-c-badge--FontSize, 0.75rem);
    --badge--FontWeight: var(--pf-v5-c-badge--FontWeight, 700);
    --badge--PaddingRight: var(--pf-v5-c-badge--PaddingRight, 0.5rem);
    --badge--PaddingLeft: var(--pf-v5-c-badge--PaddingLeft, 0.5rem);
    --badge--Color: var(--pf-v5-c-badge--Color, #151515);
    --badge--MinWidth: var(--pf-v5-c-badge--MinWidth, 2rem);
    --badge--m-read--BackgroundColor: var(--pf-v5-c-badge--m-read--BackgroundColor, #f0f0f0);
    --badge--m-read--Color: var(--pf-v5-c-badge--m-read--Color, #151515);
    --badge--m-unread--BackgroundColor: var(--pf-v5-c-badge--m-unread--BackgroundColor, #06c);
    --badge--m-unread--Color: var(--pf-v5-c-badge--m-unread--Color, #fff);
    min-width: var(--badge--MinWidth);
    font-size: var(--badge--FontSize);
    font-weight: var(--badge--FontWeight);
    color: var(--badge--Color);
    --badge--BackgroundColor: var(--pf-v5-c-badge--BackgroundColor, inherit);
}

:host(:not([hidden])) {
    display: inline-block;
}

:host([read]) {
    --badge--Color: var(--badge--m-read--Color);
    --badge--BackgroundColor: var(--badge--m-read--BackgroundColor);
}

:host([unread]) {
    --badge--Color: var(--badge--m-unread--Color);
    --badge--BackgroundColor: var(--badge--m-unread--BackgroundColor);
}

[part="badge"] {
    display: inline-block;
    min-width: var(--badge--MinWidth);
    padding-inline-start: var(--badge--PaddingLeft);
    padding-inline-end: var(--badge--PaddingRight);
    color: var(--badge--Color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--badge--BackgroundColor);
    border-radius: var(--badge--BorderRadius);
}
