:host {
    --notification-badge--PaddingTop: var(--pf-v5-c-notification-badge--PaddingTop, 0.375rem);
    --notification-badge--PaddingRight: var(--pf-v5-c-notification-badge--PaddingRight, 1rem);
    --notification-badge--PaddingBottom: var(--pf-v5-c-notification-badge--PaddingBottom, 0.375rem);
    --notification-badge--PaddingLeft: var(--pf-v5-c-notification-badge--PaddingLeft, 1rem);
    --notification-badge--MarginTop: var(
        --pf-v5-c-notification-badge--MarginTop,
        calc(-1 * 0.375rem)
    );
    --notification-badge--MarginRight: var(
        --pf-v5-c-notification-badge--MarginRight,
        calc(-1 * 1rem)
    );
    --notification-badge--MarginBottom: var(
        --pf-v5-c-notification-badge--MarginBottom,
        calc(-1 * 0.375rem)
    );
    --notification-badge--MarginLeft: var(
        --pf-v5-c-notification-badge--MarginLeft,
        calc(-1 * 1rem)
    );
    --notification-badge--after--BorderColor: var(
        --pf-v5-c-notification-badge--after--BorderColor,
        transparent
    );
    --notification-badge--after--BorderRadius: var(
        --pf-v5-c-notification-badge--after--BorderRadius,
        3px
    );
    --notification-badge--after--BorderWidth: var(
        --pf-v5-c-notification-badge--after--BorderWidth,
        0
    );
    --notification-badge--after--Top: var(--pf-v5-c-notification-badge--after--Top, 0);
    --notification-badge--after--Right: var(--pf-v5-c-notification-badge--after--Right, 0);
    --notification-badge--after--Width: var(--pf-v5-c-notification-badge--after--Width, auto);
    --notification-badge--after--Height: var(--pf-v5-c-notification-badge--after--Height, auto);
    --notification-badge--after--BackgroundColor: var(
        --pf-v5-c-notification-badge--after--BackgroundColor,
        transparent
    );
    --notification-badge--after--TranslateX: var(
        --pf-v5-c-notification-badge--after--TranslateX,
        0
    );
    --notification-badge--after--TranslateY: var(
        --pf-v5-c-notification-badge--after--TranslateY,
        0
    );
    --notification-badge__i--Width: var(--pf-v5-c-notification-badge__i--Width, auto);
    --notification-badge__i--Height: var(--pf-v5-c-notification-badge__i--Height, auto);
    --notification-badge--m-read--after--BorderColor: var(
        --pf-v5-c-notification-badge--m-read--after--BorderColor,
        transparent
    );
    --notification-badge--m-read--after--BackgroundColor: var(
        --pf-v5-c-notification-badge--m-read--after--BackgroundColor,
        transparent
    );
    --notification-badge--m-read--m-expanded--after--BackgroundColor: var(
        --pf-v5-c-notification-badge--m-read--m-expanded--after--BackgroundColor,
        #3c3f42
    );
    --notification-badge--m-unread--Color: var(--pf-v5-c-notification-badge--m-unread--Color, #fff);
    --notification-badge--m-unread--after--BackgroundColor: var(
        --pf-v5-c-notification-badge--m-unread--after--BackgroundColor,
        #06c
    );
    --notification-badge--m-unread--hover--after--BackgroundColor: var(
        --pf-v5-c-notification-badge--m-unread--hover--after--BackgroundColor,
        #004080
    );
    --notification-badge--m-unread--m-expanded--after--BackgroundColor: var(
        --pf-v5-c-notification-badge--m-unread--m-expanded--after--BackgroundColor,
        #004080
    );
    --notification-badge--m-attention--Color: var(
        --pf-v5-c-notification-badge--m-attention--Color,
        #fff
    );
    --notification-badge--m-attention--after--BackgroundColor: var(
        --pf-v5-c-notification-badge--m-attention--after--BackgroundColor,
        #c9190b
    );
    --notification-badge--m-attention--hover--after--BackgroundColor: var(
        --pf-v5-c-notification-badge--m-attention--hover--after--BackgroundColor,
        #a30000
    );
    --notification-badge--m-attention--m-expanded--after--BackgroundColor: var(
        --pf-v5-c-notification-badge--m-attention--m-expanded--after--BackgroundColor,
        #a30000
    );
    --notification-badge__count--MarginLeft: var(
        --pf-v5-c-notification-badge__count--MarginLeft,
        0.25rem
    );
    --notification-badge--pf-v5-pficon-attention-bell--LineHeight: var(
        --pf-v5-c-notification-badge--pf-v5-pficon-attention-bell--LineHeight,
        1.3
    );
    position: relative;
    width: fit-content;
    display: inline-block;
}

[part="notification-badge"] {
    padding-block-start: var(--notification-badge--PaddingTop);
    padding-block-end: var(--notification-badge--PaddingBottom);
    padding-inline-start: var(--notification-badge--PaddingLeft);
    padding-inline-end: var(--notification-badge--PaddingRight);
    background-color: var(--notification-badge--after--BackgroundColor);
    border-radius: var(--notification-badge--after--BorderRadius);
    display: flex;
    flex-direction: row;
    gap: var(--pf-v5-c-notification-badge__count--MarginLeft);
    border: 0;
}

[part="notification-badge"]::before {
    position: absolute;
    inset-block-start: var(--notification-badge--after--Top);
    inset-block-end: 0;
    inset-inline-start: 0;
    inset-inline-end: var(--notification-badge--after--Right);
    width: var(--notification-badge--after--Width);
    height: var(--notification-badge--after--Height);
    content: "";
    border: var(--notification-badge--after--BorderWidth) solid
        var(--notification-badge--after--BorderColor);
    border-radius: var(--notification-badge--after--BorderRadius);
    transform: translate(
        var(--notification-badge--after--TranslateX),
        var(--notification-badge--after--TranslateY)
    );
}

:host([variant="read"]) {
    --notification-badge--after--BackgroundColor: var(
        --notification-badge--m-read--after--BackgroundColor
    );
    --notification-badge--after--BorderColor: var(--notification-badge--m-read--after--BorderColor);
    color: var(--notification-badge--m-read--Color, inherit);
}

:host([variant="unread"]) {
    --notification-badge--after--BackgroundColor: var(
        --notification-badge--m-unread--after--BackgroundColor
    );
    color: var(--notification-badge--m-unread--Color);
}

:host([variant="unread"]) [part="notification-badge"]:hover {
    --notification-badge--after--BackgroundColor: var(
        --notification-badge--m-unread--hover--after--BackgroundColor
    );
}

:host([variant="attention"]) {
    --notification-badge--after--BackgroundColor: var(
        --notification-badge--m-attention--after--BackgroundColor
    );
    color: var(--notification-badge--m-attention--Color);
}

:host([variant="attention"]) [part="notification-badge"]:hover {
    --notification-badge--m-attention--after--BackgroundColor: var(
        --notification-badge--m-attention--hover--after--BackgroundColor
    );
}

:host([expanded]) {
    --notification-badge--m-read--Color: var(--pf-v5-global--Color--light-100);
    --notification-badge--m-read--after--BackgroundColor: var(
        --notification-badge--m-read--m-expanded--after--BackgroundColor
    );
    --notification-badge--m-unread--after--BackgroundColor: var(
        --notification-badge--m-unread--m-expanded--after--BackgroundColor
    );
    --notification-badge--m-attention--after--BackgroundColor: var(
        --notification-badge--m-attention--m-expanded--after--BackgroundColor
    );
}
