:host {
    --pf-v5-c-notification-badge--PaddingTop: var(--pf-v5-global--spacer--form-element, 0.375rem);
    --pf-v5-c-notification-badge--PaddingRight: var(--pf-v5-global--spacer--md, 1rem);
    --pf-v5-c-notification-badge--PaddingBottom: var(
        --pf-v5-global--spacer--form-element,
        0.375rem
    );
    --pf-v5-c-notification-badge--PaddingLeft: var(--pf-v5-global--spacer--md, 1rem);
    --pf-v5-c-notification-badge--MarginTop: calc(
        -1 * var(--pf-v5-global--spacer--form-element, 0.375rem)
    );
    --pf-v5-c-notification-badge--MarginRight: calc(-1 * var(--pf-v5-global--spacer--md, 1rem));
    --pf-v5-c-notification-badge--MarginBottom: calc(
        -1 * var(--pf-v5-global--spacer--form-element, 0.375rem)
    );
    --pf-v5-c-notification-badge--MarginLeft: calc(-1 * var(--pf-v5-global--spacer--md, 1rem));
    --pf-v5-c-notification-badge--after--BorderColor: transparent;
    --pf-v5-c-notification-badge--after--BorderRadius: var(--pf-v5-global--BorderRadius--sm, 3px);
    --pf-v5-c-notification-badge--after--BorderWidth: 0;
    --pf-v5-c-notification-badge--after--Top: 0;
    --pf-v5-c-notification-badge--after--Right: 0;
    --pf-v5-c-notification-badge--after--Width: auto;
    --pf-v5-c-notification-badge--after--Height: auto;
    --pf-v5-c-notification-badge--after--BackgroundColor: transparent;
    --pf-v5-c-notification-badge--after--TranslateX: 0;
    --pf-v5-c-notification-badge--after--TranslateY: 0;
    --pf-v5-c-notification-badge__i--Width: auto;
    --pf-v5-c-notification-badge__i--Height: auto;
    --pf-v5-c-notification-badge--m-read--after--BorderColor: transparent;
    --pf-v5-c-notification-badge--m-read--after--BackgroundColor: transparent;
    --pf-v5-c-notification-badge--m-read--m-expanded--after--BackgroundColor: var(
        --pf-v5-global--BackgroundColor--dark-200,
        #3c3f42
    );
    --pf-v5-c-notification-badge--m-unread--Color: var(--pf-v5-global--Color--light-100, #fff);
    --pf-v5-c-notification-badge--m-unread--after--BackgroundColor: var(
        --pf-v5-global--active-color--100,
        #06c
    );
    --pf-v5-c-notification-badge--m-unread--hover--after--BackgroundColor: var(
        --pf-v5-global--primary-color--200,
        #004080
    );
    --pf-v5-c-notification-badge--m-unread--m-expanded--after--BackgroundColor: var(
        --pf-v5-global--primary-color--200,
        #004080
    );
    --pf-v5-c-notification-badge--m-attention--Color: var(--pf-v5-global--Color--light-100, #fff);
    --pf-v5-c-notification-badge--m-attention--after--BackgroundColor: var(
        --pf-v5-global--danger-color--100,
        #c9190b
    );
    --pf-v5-c-notification-badge--m-attention--hover--after--BackgroundColor: var(
        --pf-v5-global--danger-color--200,
        #a30000
    );
    --pf-v5-c-notification-badge--m-attention--m-expanded--after--BackgroundColor: var(
        --pf-v5-global--danger-color--200,
        #a30000
    );
    --pf-v5-c-notification-badge__count--MarginLeft: var(--pf-v5-global--spacer--xs, 0.25rem);
    --pf-v5-c-notification-badge--pf-v5-pficon-attention-bell--LineHeight: var(
        --pf-v5-global--LineHeight--sm,
        1.3
    );
}

:host {
    position: relative;
    width: fit-content;
    display: inline-block;
}

[part="notification-badge"] {
    padding-block-start: var(--pf-v5-c-notification-badge--PaddingTop);
    padding-block-end: var(--pf-v5-c-notification-badge--PaddingBottom);
    padding-inline-start: var(--pf-v5-c-notification-badge--PaddingLeft);
    padding-inline-end: var(--pf-v5-c-notification-badge--PaddingRight);
    background-color: var(--pf-v5-c-notification-badge--after--BackgroundColor);
    border-radius: var(--pf-v5-c-notification-badge--after--BorderRadius);
    display: flex;
    flex-direction: row;
    gap: var(--pf-v5-c-notification-badge__count--MarginLeft);
    border: 0;
}

[part="notification-badge"]::before {
    position: absolute;
    inset-block-start: var(--pf-v5-c-notification-badge--after--Top);
    inset-block-end: 0;
    inset-inline-start: 0;
    inset-inline-end: var(--pf-v5-c-notification-badge--after--Right);
    width: var(--pf-v5-c-notification-badge--after--Width);
    height: var(--pf-v5-c-notification-badge--after--Height);
    content: "";
    border: var(--pf-v5-c-notification-badge--after--BorderWidth) solid
        var(--pf-v5-c-notification-badge--after--BorderColor);
    border-radius: var(--pf-v5-c-notification-badge--after--BorderRadius);
    transform: translate(
        var(--pf-v5-c-notification-badge--after--TranslateX),
        var(--pf-v5-c-notification-badge--after--TranslateY)
    );
}

:host([variant="read"]) {
    --pf-v5-c-notification-badge--after--BackgroundColor: var(
        --pf-v5-c-notification-badge--m-read--after--BackgroundColor
    );
    --pf-v5-c-notification-badge--after--BorderColor: var(
        --pf-v5-c-notification-badge--m-read--after--BorderColor
    );
    color: var(--pf-v5-c-notification-badge--m-read--Color, inherit);
}

:host([variant="unread"]) {
    --pf-v5-c-notification-badge--after--BackgroundColor: var(
        --pf-v5-c-notification-badge--m-unread--after--BackgroundColor
    );
    color: var(--pf-v5-c-notification-badge--m-unread--Color);
}

:host([variant="unread"]) [part="notification-badge"]:hover {
    --pf-v5-c-notification-badge--after--BackgroundColor: var(
        --pf-v5-c-notification-badge--m-unread--hover--after--BackgroundColor
    );
}

:host([variant="attention"]) {
    --pf-v5-c-notification-badge--after--BackgroundColor: var(
        --pf-v5-c-notification-badge--m-attention--after--BackgroundColor
    );
    color: var(--pf-v5-c-notification-badge--m-attention--Color);
}

:host([variant="attention"]) [part="notification-badge"]:hover {
    --pf-v5-c-notification-badge--m-attention--after--BackgroundColor: var(
        --pf-v5-c-notification-badge--m-attention--hover--after--BackgroundColor
    );
}

:host([expanded]) {
    --pf-v5-c-notification-badge--m-read--Color: var(--pf-v5-global--Color--light-100, #fff);
    --pf-v5-c-notification-badge--m-read--after--BackgroundColor: var(
        --pf-v5-c-notification-badge--m-read--m-expanded--after--BackgroundColor
    );
    --pf-v5-c-notification-badge--m-unread--after--BackgroundColor: var(
        --pf-v5-c-notification-badge--m-unread--m-expanded--after--BackgroundColor
    );
    --pf-v5-c-notification-badge--m-attention--after--BackgroundColor: var(
        --pf-v5-c-notification-badge--m-attention--m-expanded--after--BackgroundColor
    );
}

:host([theme="dark"]) {
    --pf-v5-c-notification-badge--m-read--m-expanded--after--BackgroundColor: var(
        --pf-v5-global--BackgroundColor--400
    );
    --pf-v5-c-notification-badge--m-unread--Color: var(--pf-v5-global--primary-color--400);
    --pf-v5-c-notification-badge--m-unread--after--BackgroundColor: var(
        --pf-v5-global--primary-color--300
    );
    --pf-v5-c-notification-badge--m-attention--Color: var(
        --pf-v5-global--palette--black-900,
        #151515
    );
}
