---
name: Packages - Publish NPM packages

on:
    push:
        tags:
            - v*
    workflow_dispatch:

permissions:
    # Required for NPM OIDC trusted publisher
    id-token: write
    contents: read

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
              with:
                  fetch-depth: 2
            - uses: actions/setup-node@v4
              with:
                  node-version-file: package.json
                  registry-url: "https://registry.npmjs.org"
            - name: Publish package
              run: |
                  npm ci
                  npm run build
                  npm publish
